/* line 3, ../sass/dropdowns.scss */
.qtip-content {
  padding: 10px 20px;
}

/* line 5, ../sass/dropdowns.scss */
.tooltip_dropdown {
  border: none;
  width: 175px;
  background: rgba(0, 0, 0, 0.8);
}
/* line 10, ../sass/dropdowns.scss */
.tooltip_dropdown a {
  display: block;
  font: 300 18px/2.4 "open-sans", sans-serif;
  text-decoration: none;
  color: #fff;
}
/* line 17, ../sass/dropdowns.scss */
.tooltip_dropdown li + li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/* line 20, ../sass/dropdowns.scss */
.graph_tooltip_dropdown {
  z-index: 300 !important;
  border: none;
  padding: 10px 0;
  max-width: 390px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 28, ../sass/dropdowns.scss */
.graph_tooltip_dropdown li + li {
  margin-top: 10px;
}
/* line 30, ../sass/dropdowns.scss */
.graph_tooltip_dropdown a {
  display: block;
}
