/* line 1, ../sass/slider.scss */
.slider {
  position: relative;
  z-index: 100;
  border-top: 1px solid #ddd;
}
/* line 6, ../sass/slider.scss */
.slider + .content-footer {
  border-top: 1px solid #ddd;
}

/* line 9, ../sass/slider.scss */
.slides {
  overflow: hidden;
  width: 1038px;
}

/* line 14, ../sass/slider.scss */
.slides-inner {
  overflow: hidden;
  width: 3114px;
}

/* line 19, ../sass/slider.scss */
.slide {
  float: left;
  width: 958px;
}
/* line 23, ../sass/slider.scss */
.slide .description {
  margin-bottom: 45px;
}
/* line 25, ../sass/slider.scss */
.slide h3 {
  font: 300 30px/1.1 "chaparral-pro", serif;
}
/* line 27, ../sass/slider.scss */
.slide .col {
  float: left;
  margin-left: 30px;
  width: 280px;
}
/* line 32, ../sass/slider.scss */
.slide .col.first {
  margin-left: 0;
  padding-right: 20px;
  width: 280px;
}
/* line 38, ../sass/slider.scss */
.slide .col ul {
  margin-left: -20px;
}
/* line 42, ../sass/slider.scss */
.slide .col li {
  margin-top: 10px;
  padding-left: 20px;
  background: url('/img/bullet.png?1364985804') no-repeat;
  font: 14px "open-sans", sans-serif;
  color: #878787;
}
/* line 51, ../sass/slider.scss */
.slide dt {
  font: 15px "open-sans", sans-serif;
  margin-bottom: 10px;
  color: #333;
}
/* line 56, ../sass/slider.scss */
.slide dd {
  font: 12px "open-sans", sans-serif;
  color: #999;
  margin-bottom: 7px;
}

/* line 63, ../sass/slider.scss */
.tabs {
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
}
/* line 68, ../sass/slider.scss */
.tabs li {
  float: left;
  width: 365px;
}
/* line 72, ../sass/slider.scss */
.tabs li.short {
  width: 306px;
}
/* line 74, ../sass/slider.scss */
.tabs li.first a {
  border: 0;
}
/* line 75, ../sass/slider.scss */
.tabs li.last a {
  border: 0;
}
/* line 77, ../sass/slider.scss */
.tabs li.selected a {
  margin-bottom: -1px;
  line-height: 51px;
  background: #fff;
}
/* line 83, ../sass/slider.scss */
.tabs li a {
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
  font: bold 13px/50px "open-sans", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #DF5F1F;
}
