@charset "UTF-8";
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.2-p290@climate-policy/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * qTip2 - Pretty powerful tooltips - v2.0.1
 * http://qtip2.com
 *
 * Copyright (c) 2012 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Mon Dec 31 2012 02:55 GMT+0000
 * Plugins: svg ajax tips modal viewport imagemap ie6
 * Styles: basic css3
 */
/* Core qTip styles */
/* line 15, ../sass/vendor/jquery.qtip.scss */
.qtip, .qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
}

/* line 30, ../sass/vendor/jquery.qtip.scss */
.qtip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}

/* line 39, ../sass/vendor/jquery.qtip.scss */
.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: bold;
}

/* line 48, ../sass/vendor/jquery.qtip.scss */
.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important;
}

/* Default close button class */
/* line 51, ../sass/vendor/jquery.qtip.scss */
.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
  outline: medium none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

/* line 63, ../sass/vendor/jquery.qtip.scss */
.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}

/* line 68, ../sass/vendor/jquery.qtip.scss */
* html .qtip-titlebar .qtip-close {
  top: 16px;
}

/* IE fix */
/* line 71, ../sass/vendor/jquery.qtip.scss */
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
  vertical-align: middle;
}

/* line 78, ../sass/vendor/jquery.qtip.scss */
.qtip-icon, .qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

/* line 85, ../sass/vendor/jquery.qtip.scss */
.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma,sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
/* Default tooltip style */
/* line 105, ../sass/vendor/jquery.qtip.scss */
.qtip-default {
  border-width: 1px;
  border-style: solid;
  border-color: #F1D031;
  background-color: #FFFFA3;
  color: #555;
}

/* line 114, ../sass/vendor/jquery.qtip.scss */
.qtip-default .qtip-titlebar {
  background-color: #FFEF93;
}

/* line 118, ../sass/vendor/jquery.qtip.scss */
.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}

/* line 124, ../sass/vendor/jquery.qtip.scss */
.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}

/* Light tooltip style */
/* line 131, ../sass/vendor/jquery.qtip.scss */
.qtip-light {
  background-color: white;
  border-color: #E2E2E2;
  color: #454545;
}

/* line 137, ../sass/vendor/jquery.qtip.scss */
.qtip-light .qtip-titlebar {
  background-color: #f1f1f1;
}

/* Dark tooltip style */
/* line 143, ../sass/vendor/jquery.qtip.scss */
.qtip-dark {
  background-color: #505050;
  border-color: #303030;
  color: #f3f3f3;
}

/* line 149, ../sass/vendor/jquery.qtip.scss */
.qtip-dark .qtip-titlebar {
  background-color: #404040;
}

/* line 153, ../sass/vendor/jquery.qtip.scss */
.qtip-dark .qtip-icon {
  border-color: #444;
}

/* line 157, ../sass/vendor/jquery.qtip.scss */
.qtip-dark .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Cream tooltip style */
/* line 163, ../sass/vendor/jquery.qtip.scss */
.qtip-cream {
  background-color: #FBF7AA;
  border-color: #F9E98E;
  color: #A27D35;
}

/* line 169, ../sass/vendor/jquery.qtip.scss */
.qtip-cream .qtip-titlebar {
  background-color: #F0DE7D;
}

/* line 173, ../sass/vendor/jquery.qtip.scss */
.qtip-cream .qtip-close .qtip-icon {
  background-position: -82px 0;
}

/* Red tooltip style */
/* line 179, ../sass/vendor/jquery.qtip.scss */
.qtip-red {
  background-color: #F78B83;
  border-color: #D95252;
  color: #912323;
}

/* line 185, ../sass/vendor/jquery.qtip.scss */
.qtip-red .qtip-titlebar {
  background-color: #F06D65;
}

/* line 189, ../sass/vendor/jquery.qtip.scss */
.qtip-red .qtip-close .qtip-icon {
  background-position: -102px 0;
}

/* line 193, ../sass/vendor/jquery.qtip.scss */
.qtip-red .qtip-icon {
  border-color: #D95252;
}

/* line 197, ../sass/vendor/jquery.qtip.scss */
.qtip-red .qtip-titlebar .ui-state-hover {
  border-color: #D95252;
}

/* Green tooltip style */
/* line 203, ../sass/vendor/jquery.qtip.scss */
.qtip-green {
  background-color: #CAED9E;
  border-color: #90D93F;
  color: #3F6219;
}

/* line 209, ../sass/vendor/jquery.qtip.scss */
.qtip-green .qtip-titlebar {
  background-color: #B0DE78;
}

/* line 213, ../sass/vendor/jquery.qtip.scss */
.qtip-green .qtip-close .qtip-icon {
  background-position: -42px 0;
}

/* Blue tooltip style */
/* line 219, ../sass/vendor/jquery.qtip.scss */
.qtip-blue {
  background-color: #E5F6FE;
  border-color: #ADD9ED;
  color: #5E99BD;
}

/* line 225, ../sass/vendor/jquery.qtip.scss */
.qtip-blue .qtip-titlebar {
  background-color: #D0E9F5;
}

/* line 229, ../sass/vendor/jquery.qtip.scss */
.qtip-blue .qtip-close .qtip-icon {
  background-position: -2px 0;
}

/* Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
/* line 235, ../sass/vendor/jquery.qtip.scss */
.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
/* line 244, ../sass/vendor/jquery.qtip.scss */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Youtube tooltip style */
/* line 251, ../sass/vendor/jquery.qtip.scss */
.qtip-youtube {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  color: white;
  border-width: 0;
  background: #4A4A4A;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a), color-stop(100%, black));
  background-image: -webkit-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -moz-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -ms-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -o-linear-gradient(top, #4a4a4a 0, black 100%);
}

/* line 271, ../sass/vendor/jquery.qtip.scss */
.qtip-youtube .qtip-titlebar {
  background-color: #4A4A4A;
  background-color: rgba(0, 0, 0, 0);
}

/* line 276, ../sass/vendor/jquery.qtip.scss */
.qtip-youtube .qtip-content {
  padding: .75em;
  font: 12px arial,sans-serif;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
}

/* line 284, ../sass/vendor/jquery.qtip.scss */
.qtip-youtube .qtip-icon {
  border-color: #222;
}

/* line 288, ../sass/vendor/jquery.qtip.scss */
.qtip-youtube .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* jQuery TOOLS Tooltip style */
/* line 294, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools {
  background: #232323;
  background: rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
  background-image: -moz-linear-gradient(top, #717171, #232323);
  background-image: -webkit-linear-gradient(top, #717171, #232323);
  background-image: -ms-linear-gradient(top, #717171, #232323);
  background-image: -o-linear-gradient(top, #717171, #232323);
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333;
}

/* IE Specific */
/* line 316, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
}

/* line 321, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools .qtip-content {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
}

/* line 327, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
  background: transparent;
  color: white;
  border: 0 dashed transparent;
}

/* line 333, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools .qtip-icon {
  border-color: #555;
}

/* line 337, ../sass/vendor/jquery.qtip.scss */
.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333;
}

/* Cluetip style */
/* line 343, ../sass/vendor/jquery.qtip.scss */
.qtip-cluetip {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent;
}

/* line 353, ../sass/vendor/jquery.qtip.scss */
.qtip-cluetip .qtip-titlebar {
  background-color: #87876A;
  color: white;
  border: 0 dashed transparent;
}

/* line 359, ../sass/vendor/jquery.qtip.scss */
.qtip-cluetip .qtip-icon {
  border-color: #808064;
}

/* line 363, ../sass/vendor/jquery.qtip.scss */
.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}

/* Tipsy style */
/* line 370, ../sass/vendor/jquery.qtip.scss */
.qtip-tipsy {
  background: black;
  background: rgba(0, 0, 0, 0.87);
  color: white;
  border: 0 solid transparent;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 0 1px black;
}

/* line 384, ../sass/vendor/jquery.qtip.scss */
.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10;
  background-color: transparent;
}

/* line 389, ../sass/vendor/jquery.qtip.scss */
.qtip-tipsy .qtip-content {
  padding: 6px 10;
}

/* line 393, ../sass/vendor/jquery.qtip.scss */
.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none;
}

/* line 398, ../sass/vendor/jquery.qtip.scss */
.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Tipped style */
/* line 404, ../sass/vendor/jquery.qtip.scss */
.qtip-tipped {
  border: 3px solid #959FA9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #F9F9F9;
  color: #454545;
  font-weight: normal;
  font-family: serif;
}

/* line 418, ../sass/vendor/jquery.qtip.scss */
.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;
  color: white;
  background: #3A79B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8), to(#2e629d));
  background-image: -webkit-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -moz-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -ms-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -o-linear-gradient(top, #3a79b8, #2e629d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
}

/* line 432, ../sass/vendor/jquery.qtip.scss */
.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589;
}

/* line 437, ../sass/vendor/jquery.qtip.scss */
.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}

/**
 * Twitter Bootstrap style.
 *
 * Tested with IE 8, IE 9, Chrome 18, Firefox 9, Opera 11.
 * Does not work with IE 7.
 */
/* line 449, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap {
  /** Taken from Bootstrap body */
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  /** Taken from Bootstrap .popover */
  padding: 1px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 471, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-titlebar {
  /** Taken from Bootstrap .popover-title */
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 485, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-titlebar .qtip-close {
  /**
   * Overrides qTip2:
   * .qtip-titlebar .qtip-close{
   *   [...]
   *   right: 4px;
   *   top: 50%;
   *   [...]
   *   border-style: solid;
   * }
   */
  right: 11px;
  top: 45%;
  border-style: none;
}

/* line 501, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-content {
  /** Taken from Bootstrap .popover-content */
  padding: 9px 14px;
}

/* line 506, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-icon {
  /**
   * Overrides qTip2:
   * .qtip-default .qtip-icon {
   *   border-color: #CCC;
   *   background: #F1F1F1;
   *   color: #777;
   * }
   */
  background: transparent;
}

/* line 518, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-icon .ui-icon {
  /**
   * Overrides qTip2:
   * .qtip-icon .ui-icon{
   *   width: 18px;
   *   height: 14px;
   * }
   */
  width: auto;
  height: auto;
  /* Taken from Bootstrap .close */
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 540, ../sass/vendor/jquery.qtip.scss */
.qtip-bootstrap .qtip-icon .ui-icon:hover {
  /* Taken from Bootstrap .close:hover */
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* IE9 fix - removes all filters */
/* line 552, ../sass/vendor/jquery.qtip.scss */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
  filter: none;
  -ms-filter: none;
}

/* Tips plugin */
/* line 559, ../sass/vendor/jquery.qtip.scss */
.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}

/* line 566, ../sass/vendor/jquery.qtip.scss */
.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml {
  position: absolute;
  color: #123456;
  background: transparent;
  border: 0 dashed transparent;
}

/* line 574, ../sass/vendor/jquery.qtip.scss */
.qtip .qtip-tip canvas {
  top: 0;
  left: 0;
}

/* line 576, ../sass/vendor/jquery.qtip.scss */
.qtip .qtip-tip .qtip-vml {
  behavior: url(#default#VML);
  display: inline-block;
  visibility: visible;
}

/* Modal plugin */
/* line 582, ../sass/vendor/jquery.qtip.scss */
#qtip-overlay {
  position: fixed;
  left: -10000em;
  top: -10000em;
}

/* Applied to modals with show.modal.blur set to true */
/* line 589, ../sass/vendor/jquery.qtip.scss */
#qtip-overlay.blurs {
  cursor: pointer;
}

/* Change opacity of overlay here */
/* line 592, ../sass/vendor/jquery.qtip.scss */
#qtip-overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

/* IE6 Modal plugin fix */
/* line 606, ../sass/vendor/jquery.qtip.scss */
.qtipmodal-ie6fix {
  position: absolute !important;
}

/* line 3, ../sass/dropdowns.scss */
.qtip-content {
  padding: 10px 20px;
}

/* line 5, ../sass/dropdowns.scss */
.tooltip_dropdown {
  border: none;
  width: 175px;
  background: rgba(0, 0, 0, 0.8);
}
/* line 10, ../sass/dropdowns.scss */
.tooltip_dropdown a {
  display: block;
  font: 300 18px/2.4 "open-sans", sans-serif;
  text-decoration: none;
  color: #fff;
}
/* line 17, ../sass/dropdowns.scss */
.tooltip_dropdown li + li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/* line 20, ../sass/dropdowns.scss */
.graph_tooltip_dropdown {
  z-index: 300 !important;
  border: none;
  padding: 10px 0;
  max-width: 390px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 28, ../sass/dropdowns.scss */
.graph_tooltip_dropdown li + li {
  margin-top: 10px;
}
/* line 30, ../sass/dropdowns.scss */
.graph_tooltip_dropdown a {
  display: block;
}

/* line 1, ../sass/slider.scss */
.slider {
  position: relative;
  z-index: 100;
  border-top: 1px solid #ddd;
}
/* line 6, ../sass/slider.scss */
.slider + .content-footer {
  border-top: 1px solid #ddd;
}

/* line 9, ../sass/slider.scss */
.slides {
  overflow: hidden;
  width: 1038px;
}

/* line 14, ../sass/slider.scss */
.slides-inner {
  overflow: hidden;
  width: 3114px;
}

/* line 19, ../sass/slider.scss */
.slide {
  float: left;
  width: 958px;
}
/* line 23, ../sass/slider.scss */
.slide .description {
  margin-bottom: 45px;
}
/* line 25, ../sass/slider.scss */
.slide h3 {
  font: 300 30px/1.1 "chaparral-pro", serif;
}
/* line 27, ../sass/slider.scss */
.slide .col {
  float: left;
  margin-left: 30px;
  width: 280px;
}
/* line 32, ../sass/slider.scss */
.slide .col.first {
  margin-left: 0;
  padding-right: 20px;
  width: 280px;
}
/* line 38, ../sass/slider.scss */
.slide .col ul {
  margin-left: -20px;
}
/* line 42, ../sass/slider.scss */
.slide .col li {
  margin-top: 10px;
  padding-left: 20px;
  background: url('/img/bullet.png?1364985804') no-repeat;
  font: 14px "open-sans", sans-serif;
  color: #878787;
}
/* line 51, ../sass/slider.scss */
.slide dt {
  font: 15px "open-sans", sans-serif;
  margin-bottom: 10px;
  color: #333;
}
/* line 56, ../sass/slider.scss */
.slide dd {
  font: 12px "open-sans", sans-serif;
  color: #999;
  margin-bottom: 7px;
}

/* line 63, ../sass/slider.scss */
.tabs {
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
}
/* line 68, ../sass/slider.scss */
.tabs li {
  float: left;
  width: 365px;
}
/* line 72, ../sass/slider.scss */
.tabs li.short {
  width: 306px;
}
/* line 74, ../sass/slider.scss */
.tabs li.first a {
  border: 0;
}
/* line 75, ../sass/slider.scss */
.tabs li.last a {
  border: 0;
}
/* line 77, ../sass/slider.scss */
.tabs li.selected a {
  margin-bottom: -1px;
  line-height: 51px;
  background: #fff;
}
/* line 83, ../sass/slider.scss */
.tabs li a {
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
  font: bold 13px/50px "open-sans", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #DF5F1F;
}

/* line 3, ../sass/graphs.scss */
.years {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  padding: 0 40px;
  background: rgba(240, 83, 44, 0.15);
  font: bold 13px/50px "open-sans", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 15, ../sass/graphs.scss */
.years.first .year_marker:before, .years.last .year_marker:after {
  display: none;
}

/* line 18, ../sass/graphs.scss */
.year_label {
  position: absolute;
}

/* line 20, ../sass/graphs.scss */
.year_marker {
  position: absolute;
  z-index: 10;
  display: block;
  visibility: hidden;
  width: 70px;
  height: 23px;
  background: #000;
  top: 14px;
  color: #fff;
  line-height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 33, ../sass/graphs.scss */
.year_marker:before {
  border-left: 2px solid #000;
  content: " ";
  height: 15px;
  display: block;
  position: absolute;
  top: -15px;
  left: 34px;
}
/* line 43, ../sass/graphs.scss */
.year_marker:after {
  border-left: 2px solid #000;
  content: " ";
  height: 15px;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 34px;
}

/* line 54, ../sass/graphs.scss */
.graph {
  position: relative;
  border-top: 1px solid #ddd;
}
/* line 59, ../sass/graphs.scss */
.graph.bar-graph .graph-canvas {
  padding-top: 180px;
  height: 308px;
}

/* line 66, ../sass/graphs.scss */
.graph-canvas {
  height: 388px;
  width: 1038px;
}
/* line 70, ../sass/graphs.scss */
.graph-canvas.hidden {
  display: none;
}

/* line 73, ../sass/graphs.scss */
.graph-selector {
  position: absolute;
  z-index: 200;
  margin: 30px;
  padding: 10px;
}

/* line 81, ../sass/graphs.scss */
.graph-gradient {
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  height: 241px;
  width: 100%;
  background: url('/img/graph_back_gradient.png?1365437161') repeat-x bottom;
}

/* line 92, ../sass/graphs.scss */
.graph-description {
  clear: left;
  max-width: 360px;
  font: 300 16px "cronos-pro";
  color: #999;
  text-shadow: 0 0 10px #ffffff;
}
/* line 99, ../sass/graphs.scss */
.graph-description.long {
  max-width: 480px;
}
/* line 101, ../sass/graphs.scss */
.graph-description.longest {
  max-width: 960px;
}
/* line 103, ../sass/graphs.scss */
.graph-description.hidden {
  display: none;
}

/* line 106, ../sass/graphs.scss */
svg {
  background: transparent;
  fill: transparent;
}

/* line 111, ../sass/graphs.scss */
.graph-title {
  font: 27px/1.1 "open-sans", sans-serif;
  color: #666;
}
/* line 115, ../sass/graphs.scss */
.graph-title span {
  display: block;
  font: bold 17px "open-sans", sans-serif;
  text-transform: uppercase;
  color: #222;
}
/* line 122, ../sass/graphs.scss */
.graph-title a {
  text-decoration: none;
  color: #F0522C;
}

/* line 128, ../sass/graphs.scss */
.graph-series-label {
  font: 13px/1.1 "open-sans", sans-serif;
  fill: #aaa;
}

/* line 133, ../sass/graphs.scss */
.graph-groups-label {
  font: 13px/50px "open-sans", sans-serif;
  fill: #444;
  text-transform: uppercase;
}

/* line 139, ../sass/graphs.scss */
.graph-zero-mark {
  stroke: rgba(0, 0, 0, 0.2);
  shape-rendering: crispEdges;
}

/* line 144, ../sass/graphs.scss */
.graph-horz-marks {
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* line 149, ../sass/graphs.scss */
.graph-link:after {
  position: relative;
  top: -4px;
  padding-left: 10px;
  content: "▼";
  font-size: 7px;
}

/* line 157, ../sass/graphs.scss */
.graph-sep {
  float: left;
  border: 0;
  height: 1px;
  width: 160px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 165, ../sass/graphs.scss */
.graph-legend {
  position: absolute;
  z-index: 300;
  right: 0;
  margin: 30px;
  max-width: 600px;
  text-align: right;
  pointer-events: none;
  padding: 10px;
}
/* line 175, ../sass/graphs.scss */
.graph-legend li {
  display: inline-block;
  font: 14px "cronos-pro", sans-serif;
  color: #999;
  margin: 0 0 0 12px;
}

/* line 183, ../sass/graphs.scss */
.legend-item {
  width: 13px;
  height: 2px;
  display: inline-block;
  margin: 0 7px 3px 0;
}

/* line 190, ../sass/graphs.scss */
.tooltip {
  position: absolute;
  z-index: 300;
  visibility: hidden;
  border: 2px solid #000;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font: bold 12px "open-sans", sans-serif;
  text-align: center;
  background: #fff;
  /* TODO: Create mixin */
}
/* line 204, ../sass/graphs.scss */
.tooltip.tooltip-left:before, .tooltip.tooltip-left:after {
  position: absolute;
  left: -6px;
  top: 50%;
  content: "";
  border-right: 6px solid #000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: -6px;
}
/* line 215, ../sass/graphs.scss */
.tooltip.tooltip-left:after {
  left: -4px;
  border-right-color: #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: -6px;
}
/* line 226, ../sass/graphs.scss */
.tooltip.tooltip-right:before, .tooltip.tooltip-right:after {
  position: absolute;
  right: -6px;
  top: 50%;
  content: "";
  border-left: 6px solid #000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: -6px;
}
/* line 237, ../sass/graphs.scss */
.tooltip.tooltip-right:after {
  right: -4px;
  border-left-color: #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: -6px;
}
/* line 248, ../sass/graphs.scss */
.tooltip.tooltip-top:before, .tooltip.tooltip-top:after {
  position: absolute;
  top: -6px;
  left: 50%;
  content: "";
  border-bottom: 6px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: -6px;
}
/* line 259, ../sass/graphs.scss */
.tooltip.tooltip-top:after {
  top: -4px;
  border-bottom-color: #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: -6px;
}
/* line 268, ../sass/graphs.scss */
.tooltip span {
  font-weight: 400;
}

/* line 271, ../sass/graphs.scss */
.lineStyle {
  stroke-width: 3;
  stroke: red;
  stroke-linecap: round;
  fill: none;
  pointer-events: none;
}

/* line 279, ../sass/graphs.scss */
.linedot {
  cursor: pointer;
  stroke-width: 2;
  stroke: white;
}

/* line 285, ../sass/graphs.scss */
.overlay-line {
  visibility: hidden;
  fill: #000;
}

/* line 293, ../sass/graphs.scss */
image,
.graph-gradient,
.overlay-line
.scroll-shadow {
  pointer-events: none;
}

/* remove events for overlay */
/* line 10, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 11, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 14, ../sass/main.scss */
.wrapper {
  overflow: hidden;
  min-width: 1040px;
  background: #F4F4F4;
}
/* line 21, ../sass/main.scss */
.wrapper.stuck .header,
.wrapper.stuck .scroll-nav {
  position: fixed;
  margin-top: -570px;
}
/* line 26, ../sass/main.scss */
.wrapper.stuck .scroll {
  bottom: 0;
}
/* line 29, ../sass/main.scss */
.wrapper.stuck .scroll .nav-link {
  display: none;
}
/* line 30, ../sass/main.scss */
.wrapper.stuck .scroll .nav-title {
  display: block;
}
/* line 33, ../sass/main.scss */
.wrapper.stuck .scroll-shadow {
  display: block;
}

/* line 37, ../sass/main.scss */
.inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 43, ../sass/main.scss */
.header {
  position: absolute;
  z-index: 500;
  /* for dropdowns */
  width: 100%;
  min-width: 1040px;
  height: 660px;
  color: #fff;
}
/* line 51, ../sass/main.scss */
.header .title {
  margin-top: 75px;
  font: 300 44px/.9 "chaparral-pro", sans-serif;
  text-transform: capitalize;
}
/* line 57, ../sass/main.scss */
.header .tagline {
  margin: 0 0 30px -5px;
  font: 700 italic 66px/1.1 "open-sans", sans-serif;
  text-transform: uppercase;
}
/* line 62, ../sass/main.scss */
.header .tagline:before {
  content: "“";
}
/* line 63, ../sass/main.scss */
.header .tagline:after {
  content: "„";
}
/* line 66, ../sass/main.scss */
.header .description {
  padding-bottom: 50px;
  font: 300 29px/1.1 "chaparral-pro", serif;
}

/* line 72, ../sass/main.scss */
.header-nav {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
/* line 78, ../sass/main.scss */
.header-nav .logo {
  float: left;
}
/* line 80, ../sass/main.scss */
.header-nav ul {
  float: right;
}
/* line 83, ../sass/main.scss */
.header-nav ul a {
  padding: 0 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 88, ../sass/main.scss */
.header-nav ul a:hover, .header-nav ul a.selected {
  background: rgba(0, 0, 0, 0.4);
}
/* line 90, ../sass/main.scss */
.header-nav ul a.last {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 95, ../sass/main.scss */
.item, .nav-item, .menu-item {
  float: left;
}

/* line 97, ../sass/main.scss */
.nav-item, .menu-item {
  font: 600 12px/90px "open-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 103, ../sass/main.scss */
.nav-item .nav-title, .menu-item .nav-title {
  display: none;
  font-size: 30px;
}
/* line 108, ../sass/main.scss */
.nav-item a, .menu-item a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
}
/* line 114, ../sass/main.scss */
.nav-item a.nav-link, .menu-item a.nav-link {
  padding: 0;
}

/* line 118, ../sass/main.scss */
.navbar {
  position: absolute;
  top: 660px;
  width: 100%;
  height: 60px;
  background: #222;
  color: rgba(255, 255, 255, 0.3);
}
/* line 126, ../sass/main.scss */
.navbar ul {
  float: left;
}
/* line 129, ../sass/main.scss */
.navbar ul.last {
  float: right;
  margin-right: -39px;
}
/* line 134, ../sass/main.scss */
.navbar ul.first {
  margin-left: -39px;
}

/* line 138, ../sass/main.scss */
.menu-item {
  line-height: 60px;
}
/* line 142, ../sass/main.scss */
.menu-item.first {
  padding: 0 15px 0 0;
}
/* line 144, ../sass/main.scss */
.menu-item .selected {
  margin-top: -4px;
  line-height: 64px;
  background: #fff;
  color: #222;
}

/* line 152, ../sass/main.scss */
.scroll-shadow {
  position: relative;
  display: none;
  bottom: -60px;
  margin: 0 auto;
  width: 1038px;
  height: 10px;
  background: url('/img/scroll-shadow.png?1365408665') repeat-x;
}

/* line 162, ../sass/main.scss */
.content {
  margin: 0 auto;
  width: 1038px;
  padding-top: 720px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* line 171, ../sass/main.scss */
.content .description {
  font: 16px "open-sans", sans-serif;
  color: #666;
}

/* line 178, ../sass/main.scss */
.subject,
.slide {
  padding: 40px;
}

/* line 181, ../sass/main.scss */
.subject .title {
  font: 55px/1.1 "chaparral-pro", serif;
}
/* line 184, ../sass/main.scss */
.subject .title sup {
  display: block;
  font: 600 12px "open-sans", sans-serif;
  text-transform: uppercase;
  color: #BABABA;
}

/* line 193, ../sass/main.scss */
.nav-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 195, ../sass/main.scss */
.scroll {
  position: absolute;
  bottom: 0;
  width: 960px;
}
/* line 200, ../sass/main.scss */
.scroll:hover .nav-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 202, ../sass/main.scss */
.scroll em {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 18px;
  height: 20px;
  padding-right: 10px;
  vertical-align: 1;
  background: url('/img/scroll-icon.png?1364985804') no-repeat;
}

/* line 214, ../sass/main.scss */
.content-footer {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

/* line 220, ../sass/main.scss */
.scroll-controls {
  display: block;
  padding: 40px 20px;
  height: 71px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 226, ../sass/main.scss */
.scroll-controls:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 227, ../sass/main.scss */
.scroll-controls:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 229, ../sass/main.scss */
.scroll-controls i {
  display: inline-block;
  height: 71px;
  width: 71px;
  background: url('/img/scroll-sprite.png?1365408665') no-repeat;
}
/* line 236, ../sass/main.scss */
.scroll-controls span {
  display: none;
}

/* line 239, ../sass/main.scss */
.scroll-nav {
  width: 960px;
}
/* line 242, ../sass/main.scss */
.scroll-nav .scroll-controls {
  padding: 0 20px;
}

/* line 245, ../sass/main.scss */
.scroll-prev {
  float: left;
  margin-left: -150px;
}
/* line 249, ../sass/main.scss */
.scroll-prev i {
  background-position: 0 -71px;
}

/* line 252, ../sass/main.scss */
.scroll-next {
  float: right;
  margin-right: -150px;
}
/* line 256, ../sass/main.scss */
.scroll-next i {
  background-position: 0 -142px;
}

/* line 259, ../sass/main.scss */
.footer {
  font: 14px "cronos-pro", sans-serif;
  min-width: 1040px;
}
/* line 263, ../sass/main.scss */
.footer .footer-inner {
  padding: 25px 0;
}
/* line 266, ../sass/main.scss */
.footer .footer-inner .item, .footer .footer-inner .nav-item, .footer .footer-inner .menu-item {
  margin-left: 15px;
}
/* line 269, ../sass/main.scss */
.footer .footer-inner .item a, .footer .footer-inner .nav-item a, .footer .footer-inner .menu-item a {
  text-decoration: none;
  color: #F26F4D;
}
/* line 273, ../sass/main.scss */
.footer .footer-inner .item a:hover, .footer .footer-inner .nav-item a:hover, .footer .footer-inner .menu-item a:hover {
  text-decoration: underline;
}
/* line 278, ../sass/main.scss */
.footer .logo {
  float: left;
  font: 600 13px "open-sans", sans-serif;
  color: rgba(135, 135, 135, 0.6);
}
/* line 284, ../sass/main.scss */
.footer ul {
  float: right;
}

/* line 287, ../sass/main.scss */
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 48px;
  background: #fff;
}
/* line 292, ../sass/main.scss */
.footer-bottom p {
  text-align: right;
  color: #999;
}
/* line 297, ../sass/main.scss */
.footer-bottom a {
  color: #999;
}

/* line 301, ../sass/main.scss */
.navbar_dropdown,
.graph_dropdown {
  display: none;
}

/* line 303, ../sass/main.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 310, ../sass/main.scss */
sup {
  top: -0.5em;
}

/* line 314, ../sass/main.scss */
sub {
  bottom: -0.25em;
}

/* line 3, ../sass/us.scss */
.header {
  background-color: #F8DF8D;
  background: url('/img/pattern.png?1364985804'), url('/img/us-bg.png?1364985804') 100% 0/cover;
}
