/* line 17, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/var/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/vendor/tipsy.scss */
.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

/* line 2, ../sass/vendor/tipsy.scss */
.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}

/* Rounded corners */
/* line 5, ../sass/vendor/tipsy.scss */
.tipsy-inner {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
/* line 10, ../sass/vendor/tipsy.scss */
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}

/* Rules to colour arrows */
/* line 13, ../sass/vendor/tipsy.scss */
.tipsy-arrow-n {
  border-bottom-color: #000;
}

/* line 14, ../sass/vendor/tipsy.scss */
.tipsy-arrow-s {
  border-top-color: #000;
}

/* line 15, ../sass/vendor/tipsy.scss */
.tipsy-arrow-e {
  border-left-color: #000;
}

/* line 16, ../sass/vendor/tipsy.scss */
.tipsy-arrow-w {
  border-right-color: #000;
}

/* line 18, ../sass/vendor/tipsy.scss */
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 19, ../sass/vendor/tipsy.scss */
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 20, ../sass/vendor/tipsy.scss */
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 21, ../sass/vendor/tipsy.scss */
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 22, ../sass/vendor/tipsy.scss */
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 23, ../sass/vendor/tipsy.scss */
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 24, ../sass/vendor/tipsy.scss */
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 25, ../sass/vendor/tipsy.scss */
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 7, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 8, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 11, ../sass/main.scss */
body {
  background: #F4F4F4;
}

/* line 13, ../sass/main.scss */
.inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 19, ../sass/main.scss */
.header {
  position: absolute;
  width: 100%;
  min-width: 1040px;
  height: 660px;
  color: #fff;
}
/* line 26, ../sass/main.scss */
.header.stuck {
  position: fixed;
  margin-top: -570px;
}
/* line 30, ../sass/main.scss */
.header.stuck.scrolledup {
  margin-top: -480px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 34, ../sass/main.scss */
.header.stuck.scrolledup .header-nav {
  position: absolute;
  bottom: 90px;
}
/* line 40, ../sass/main.scss */
.header.stuck .scroll {
  bottom: 0;
}
/* line 43, ../sass/main.scss */
.header.stuck .scroll .nav-link {
  display: none;
}
/* line 44, ../sass/main.scss */
.header.stuck .scroll .nav-title {
  display: block;
}
/* line 47, ../sass/main.scss */
.header.stuck .scroll-shadow {
  display: block;
}
/* line 50, ../sass/main.scss */
.header .title {
  margin-left: -5px;
  padding: 150px 0 19px;
  font: 600 71px/1.1 "open-sans", sans-serif;
  text-transform: uppercase;
}
/* line 57, ../sass/main.scss */
.header .description {
  width: 586px;
  padding-bottom: 50px;
  font: 300 29px/1.1 "chaparral-pro", serif;
}

/* line 64, ../sass/main.scss */
.header-nav {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
/* line 70, ../sass/main.scss */
.header-nav .logo {
  float: left;
}
/* line 72, ../sass/main.scss */
.header-nav ul {
  float: right;
}
/* line 75, ../sass/main.scss */
.header-nav ul a {
  padding: 0 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 80, ../sass/main.scss */
.header-nav ul a:hover, .header-nav ul a.selected {
  background: rgba(0, 0, 0, 0.4);
}
/* line 82, ../sass/main.scss */
.header-nav ul a.last {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 87, ../sass/main.scss */
.item, .nav-item, .menu-item {
  float: left;
}

/* line 89, ../sass/main.scss */
.nav-item, .menu-item {
  font: 600 12px/90px "open-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 95, ../sass/main.scss */
.nav-item .nav-title, .menu-item .nav-title {
  display: none;
  font-size: 30px;
}
/* line 100, ../sass/main.scss */
.nav-item a, .menu-item a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
}
/* line 106, ../sass/main.scss */
.nav-item a.nav-link, .menu-item a.nav-link {
  padding: 0;
}

/* line 110, ../sass/main.scss */
.navbar {
  position: absolute;
  top: 660px;
  width: 100%;
  height: 60px;
  background: #222;
  color: rgba(255, 255, 255, 0.3);
}
/* line 118, ../sass/main.scss */
.navbar ul {
  float: left;
}
/* line 121, ../sass/main.scss */
.navbar ul.last {
  float: right;
  margin-right: -40px;
}

/* line 128, ../sass/main.scss */
.menu-item {
  line-height: 60px;
}
/* line 132, ../sass/main.scss */
.menu-item .first {
  padding-left: 0;
  color: rgba(255, 255, 255, 0.3);
}
/* line 137, ../sass/main.scss */
.menu-item .selected {
  margin-top: -4px;
  line-height: 64px;
  background: #fff;
  color: #222;
}

/* line 145, ../sass/main.scss */
.scroll-shadow {
  position: relative;
  display: none;
  bottom: -60px;
  margin: 0 auto;
  width: 1038px;
  height: 70px;
  background: url('/img/scroll-shadow.png?1364290806') repeat-x;
}

/* line 155, ../sass/main.scss */
.content {
  margin: 0 auto;
  width: 1038px;
  padding-top: 720px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 165, ../sass/main.scss */
.subject {
  padding: 40px 30px;
}
/* line 168, ../sass/main.scss */
.subject .title {
  font: 55px/1.1 "chaparral-pro", serif;
}
/* line 171, ../sass/main.scss */
.subject .title pre {
  font: 600 12px "open-sans", sans-serif;
  text-transform: uppercase;
  color: #BABABA;
}
/* line 178, ../sass/main.scss */
.subject .description {
  width: 790px;
  font: 16px "open-sans", sans-serif;
  color: #666;
}

/* line 185, ../sass/main.scss */
.nav-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 187, ../sass/main.scss */
.scroll {
  position: absolute;
  bottom: 0;
  width: 960px;
}
/* line 192, ../sass/main.scss */
.scroll:hover .nav-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 194, ../sass/main.scss */
.scroll em {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 18px;
  height: 20px;
  padding-right: 10px;
  vertical-align: 1;
  background: url('/img/scroll-icon.png?1363782417') no-repeat;
}

/* line 206, ../sass/main.scss */
.years {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  border-right: 0;
  padding: 0 40px;
  background: rgba(240, 83, 44, 0.15);
  font: bold 13px/50px "open-sans", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}

/* line 219, ../sass/main.scss */
.year,
.gap {
  display: inline-block;
}

/* line 223, ../sass/main.scss */
.year {
  width: 40px;
}

/* line 227, ../sass/main.scss */
.gap {
  width: 258px;
}

/* line 231, ../sass/main.scss */
.graph {
  height: 388px;
}

/* line 233, ../sass/main.scss */
.content-footer {
  padding: 45px 0;
  text-align: center;
}

/* line 238, ../sass/main.scss */
.scroll-top {
  background: url('/img/scroll-top-icon.png?1363952940') no-repeat;
  display: inline-block;
  width: 71px;
  height: 70px;
}
/* line 244, ../sass/main.scss */
.scroll-top span {
  display: none;
}

/* line 247, ../sass/main.scss */
.footer {
  font: 14px "cronos-pro", sans-serif;
  min-width: 1040px;
}
/* line 251, ../sass/main.scss */
.footer .footer-inner {
  padding: 25px 0;
}
/* line 254, ../sass/main.scss */
.footer .footer-inner .item, .footer .footer-inner .nav-item, .footer .footer-inner .menu-item {
  margin-left: 15px;
}
/* line 257, ../sass/main.scss */
.footer .footer-inner .item a, .footer .footer-inner .nav-item a, .footer .footer-inner .menu-item a {
  text-decoration: none;
  color: #F26F4D;
}
/* line 261, ../sass/main.scss */
.footer .footer-inner .item a:hover, .footer .footer-inner .nav-item a:hover, .footer .footer-inner .menu-item a:hover {
  text-decoration: underline;
}
/* line 266, ../sass/main.scss */
.footer .logo {
  float: left;
  font: 600 13px "open-sans", sans-serif;
  color: rgba(135, 135, 135, 0.6);
}
/* line 272, ../sass/main.scss */
.footer ul {
  float: right;
}

/* line 275, ../sass/main.scss */
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 48px;
  background: #fff;
}
/* line 280, ../sass/main.scss */
.footer-bottom p {
  text-align: right;
  color: #999;
}
/* line 285, ../sass/main.scss */
.footer-bottom a {
  color: #999;
}

/* line 3, ../sass/us.scss */
.header {
  background-color: #F8DF8D;
  background: url('/img/pattern.png?1363776018'), url('/img/us-bg.png?1364292593') 100% 0/cover;
}
