.qtip-content { padding: 10px 20px; }

.tooltip_dropdown {
  border: none;
  width: 175px;
  background: rgba(#000, .8);

  a {
    display: block;
    font: 300 18px/2.4 "open-sans", sans-serif;
    text-decoration: none;
    color: #fff;
  }

  li + li a { border-top: 1px solid rgba(#fff, .25); }
}

.graph_tooltip_dropdown {
  z-index: 300 !important;
  border: none;
  padding: 10px 0;
  max-width: 390px;
  background: #fff;
  @include box-shadow(0 0 3px rgba(#000, .3));

  li + li { margin-top: 10px; }

  a { display: block; }
}
