@import "compass/css3";

.graph-selector {
  position: absolute;
  z-index: 300;
  margin: 30px;
  padding: 10px;
  background: rgba(#fff, .8);
}

.graph-canvas {
  position: relative;
  z-index: 200;
  height: 388px;
  width: 1038px;

  &.hidden { display: none; }

  svg { background: transparent; fill: transparent; }
}

.graph-title {
  font: 27px/1.1 "open-sans", sans-serif;
  color: #666;

  span {
    display: block;
    font: bold 17px "open-sans", sans-serif;
    text-transform: uppercase;
    color: #222;
  }

  a {
    text-decoration: none;
    color: #F0522C;
  }
}

.graph-series-label{
  font: 13px/1.1 "open-sans", sans-serif;
  fill: #aaa;
}

.graph-groups-label{
  font: 15px/1.1 "open-sans", sans-serif;
  fill: #aaa;
}


.graph-link:after {
  position: relative;
  top: -4px;
  padding-left: 10px;
  content: "▼";
  font-size: 7px;
}

.graph-sep {
  float: left;
  clear: both;
  border: 0;
  height: 1px;
  width: 160px;
  background: rgba(#000, .1);
}

.graph-description {
  clear: left;
  font: 300 19px "cronos-pro";
  color: #999;
  width: 240px;

  &.long { width: 480px; }
}

.graph_dropdown .graph-title { margin-left: 0; }

.graph-legend {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 480px;
  text-align: right;

  li {
    display: inline-block;
    font: 14px "cronos-pro", sans-serif;
    color: #999;
    margin: 0 0 0 12px;
  }
}

.legend-item{
  width: 13px;
  height: 2px;
  display: inline-block;
  margin: 0 7px 3px 0;
}

.tooltip {
  position: absolute;
  z-index: 300;
  visibility: hidden;
  border: 2px solid #000;
  padding: 5px;
  width: 46px;
  @include border-radius(5px);
  font: bold 12px "open-sans", sans-serif;
  text-align: center;
  background: #fff;

  /* TODO: Create mixin */
  &.tooltip-left {
    &:before,
    &:after {
      position: absolute;
      left: -6px;
      top: 50%;
      content: "";
      border-right: 6px solid #000;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-top: -6px;
    }

    &:after {
      left: -4px;
      border-right-color: #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-top: -6px;
    }
  }

  &.tooltip-right {
    &:before,
    &:after {
      position: absolute;
      right: -6px;
      top: 50%;
      content: "";
      border-left: 6px solid #000;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-top: -6px;
    }

    &:after {
      right: -4px;
      border-left-color: #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-top: -6px;
    }
  }

  &.tooltip-top {
    &:before,
    &:after {
      position: absolute;
      top: -6px;
      left: 50%;
      content: "";
      border-bottom: 6px solid #000;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin-left: -6px;
    }

    &:after {
      top: -4px;
      border-bottom-color: #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin-left: -6px;
    }
  }
}

.overlay {
  fill: transparent;
}

.overlay-line {
  visibility: hidden;
  fill: #000;
}

.axis {
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path {
  fill: none;
  stroke: rgba(#000, .1);
  shape-rendering: crispEdges;
}

.tick {
  display: none;
}
