<footer class="footer">
  <div class="inner">
    <div class="footer-inner clearfix">
      <div class="logo">
        A project by
        <img class="logo" src="{{ site.url }}/img/climate-policy-ininitiative-logo.png" alt="The Policy Climate Interactive" />
      </div>

      <ul>
        <li class="item"><a href="#">Share this</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item"><a href="#">Sources</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="inner">
      <p>Lorem ipsum dolor sit amet all rights reserved. <a href="http://climatepolicyinitiative.org/">Visit our website</a></p>
    </div>
  </div>
</footer>
