<header class="header">
  <nav class="header-nav">
    <div class="inner">
      <p class="logo"><a href="/"><img class="logo" src="{{ site.url }}/img/policy-climate-interactive-logo.png" alt="The Policy Climate Interactive" /></a></p>

      <ul>
        <li class="nav-item">
          <a href="#" class="regions dropdown_link selected">Regions</a>
          <ul class="navbar_dropdown">
            <li><a href="#">China</a></li>
            <li><a href="#">US</a></li>
            <li><a href="/regions/brazil/emissions.html">Brazil</a></li>
            <li><a href="#">India</a></li>
            <li><a href="#">EU</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="dropdown_link last">Sectors</a>
          <ul class="navbar_dropdown">
            <li><a href="#">Industry</a></li>
            <li><a href="#">Agriculture</a></li>
            <li><a href="#">Forestry</a></li>
            <li><a href="#">Buildings</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Power</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="inner">
    <h2 class="title">{{ page.region }}</h1>
    <p class="description">{{ page.description }}</p>

    <div class="nav-item scroll">
      <a href="javascript:void(0)" class="nav-link"><em></em>Scroll to explore</a>
      <h2 class="nav-title">{{ page.region }}</h2>
    </div>
  </div>

  <div class="navbar clearfix">
    <nav class="inner">
      <ul>
        <li class="menu-item"><a href="/regions/{{ page.region }}/emissions.html" class="first">By subject</a></li>
        <li class="menu-item"><a href="/regions/{{ page.region }}/emissions.html" class="{% if page.sector == 'emissions' %} selected{% endif %}">Emissions</a></li>
        <li class="menu-item"><a href="/regions/{{ page.region }}/emission_drivers.html" class="{% if page.sector == 'emission_drivers' %} selected{% endif %}">Emission drivers</a></li>
        <li class="menu-item"><a href="/regions/{{ page.region }}/policy.html" class="{% if page.sector == 'policy' %} selected{% endif %}">Policy</a></li>
      </ul>

      <ul class="last">
        <li class="menu-item"><a href="/regions/{{ page.region }}/forestry.html" class="first">By sector</a></li>
        {% for item in page.sectors %}
          <li class="menu-item"><a href="/regions/{{ page.region }}/{{ item }}.html" class="{% if page.sector == item %}selected{% endif %}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="scroll-shadow"></div>
  </div>
</header>
