<footer class="footer">
  <div class="inner">
    <div class="footer-inner clearfix">
      <div class="logo">
        A project by
        <%= link_to image_tag('climate-policy-ininitiative-logo.png', alt: 'The Policy Climate Interactive', class: 'logo'), 'http://climatepolicyinitiative.org/' %>
      </div>

      <ul>
        <li class="item"><a href="http://twitter.com/share?text=Compare 30 years of %23emissions %26 %23climate policies in 5 countries via @climatepolicy" target="_blank">
Share this on Twitter</a></li>
        <li class="item"><a href="/guide">Guide</a></li>
        <li class="item"><a href="/about">About</a></li>
        <li class="item"><a href="/sources">Sources</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="inner">
      <p>Copyright © 2013 <a href="http://climatepolicyinitiative.org/">Climate Policy Initiative</a>. All rights reserved.</a></p>
    </div>
  </div>
</footer>
