<div class="content-inner">
  <%= render 'shared/description' %>

  <% @subitems.each do |subitem| %>
    <%= render 'shared/graph', :subitem => subitem %>
  <% end %>
</div>

<% if @main.type == 'region' && @item.type == 'sector' %>
  <%= render 'shared/decades_analysis' %>
<% end %>
