<header class="header">
  <nav class="header-nav">
    <div class="inner">
      <p class="logo"><a href="/"><%= image_tag 'policy-climate-interactive-logo.png', alt: 'The Policy Climate Interactive', class: 'logo' %></a></p>

      <ul>
        <li class="nav-item">
          <a href="#" class="regions dropdown_link selected">Regions</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/regions/brazil/subjects/emissions" class="">Brazil</a>
              </li>
              <li>
                <a href="/regions/china/subjects/emissions" class="">China</a>
              </li>
              <li>
                <a href="/regions/eu/subjects/emissions" class="tall">European Union</a>
              </li>
              <li>
                <a href="/regions/india/subjects/emissions" class="">India</a>
              </li>
              <li>
                <a href="/regions/us/subjects/emissions" class="">United States</a>
              </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="dropdown_link  last">Sectors</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/sectors/power/subjects/emissions">Power</a>
              </li>
              <li>
                <a href="/sectors/industry/subjects/emissions">Industry</a>
              </li>
              <li>
                <a href="/sectors/forestry/subjects/emissions">Forestry</a>
              </li>
              <li>
                <a href="/sectors/buildings/subjects/emissions">Buildings</a>
              </li>
              <li>
                <a href="/sectors/transport/subjects/emissions">Transport</a>
              </li>
              <li>
                <a href="/sectors/agriculture/subjects/emissions">Agriculture</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="inner">
    <p class="title">Guide to the Policy Climate Interactive</p>
    <p class="description">Learn more about this project.</p>
  </div>

  <div class="navbar clearfix">
    <nav class="inner">
      <ul>

        <li class="menu-item">
          <%= link_to "Guide", '/guide', class: 'selected paded' %>
        </li>


        <li class="menu-item">
          <%= link_to "About", '/about', class: 'paded' %>
        </li>

        <li class="menu-item">
          <%= link_to "Data sources", '/sources', class: 'paded'  %>
        </li>
      </ul>
    </nav>

    <div class="scroll-shadow"></div>
  </div>
</header>

<div class="content content-about" id="content">
  <div class="content-inner static">
    <div class="content-header">
      <h1>Guide to the Policy Climate Interactive</h1>
    </div>

<div class="module">

<p>Climate change is a multi-faceted problem. It is the result of almost everything humans do, how we work, how we travel, how we feed ourselves, everywhere in the world. Similarly, policy of all kinds—including energy policy, land use and agriculture, industry, transport, urbanization and construction, and even economic development and fiscal policy—can have important consequences for climate change. In this project, we focus on <strong>regions</strong>, <strong>sectors</strong> and <strong>subjects</strong>.<p>
</div>

<div class="module">

<h2>Regions</h2>
<p>Brazil, China, India, Europe, and the United States—These regions not only represent the majority of global greenhouse gas emissions but vary widely in terms of economic development, natural resource endowment, political system, and climate policy, and can offer different lessons to policymakers.</p>

<h2 class="margin30">Sectors</h2>
<p>The Most Important Economic Sectors in Each Region—With a few notable exceptions, most climate-related policies address a particular economic sector. Thus, the second organizing principle for this review is sectors: Buildings, Power, Industry, Transport, Agriculture, Forestry, and Waste. To restrict our discussion to the most important sectors for each region, we have ranked these sectors by greenhouse gas mitigation potential.</p>

<p>In this review, 80% of national greenhouse gas reduction potential for each region lies in the following 17 sectors:</p>


<table>
  <tr>
    <th></th>
    <th>BRAZIL</th>
    <th>CHINA</th>
    <th>EUROPE</th>
    <th>INDIA</th>
    <th>USA</th>
  </tr>
  <tr>
    <td class="first">BUILDINGS</td>
    <td></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td></td>
    <td class="tick"></td>
  </tr>    
  <tr>
    <td class="first">POWER</td>
    <td></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td class="tick"></td>
  </tr>    
  <tr>
    <td class="first">INDUSTRY</td>
    <td></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td class="tick"></td>
  </tr>    
  <tr>
    <td class="first">TRANSPORT</td>
    <td></td>
    <td></td>
    <td class="tick"></td>
    <td></td>
    <td class="tick"></td>
  </tr>    
  <tr>
    <td class="first">AGRICULTURE</td>
    <td class="tick"></td>
    <td></td>
    <td class="tick"></td>
    <td class="tick"></td>
    <td></td>
  </tr>    
  <tr>
    <td class="first">FORESTRY</td>
    <td class="tick"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>    
</table>


<h2 class="margin30">Subjects</h2>
<p>Policy Activity Relevant to Emissions Trends in Each Sector— With this review, we hope to begin to identify where policy may have played an important part in emissions trends and their contributing factors, or where there are gaps. So, for each of the sectors covered in these regions, we provide stylized facts and data about:</p>
<ul class="margin30">
  <li><strong>Emissions</strong>, which covers trends in greenhouse gas emissions—and related factors—over the last 30 years;
  </li>
  <li><strong>Emission drivers</strong>, which looks at major factors contributing to these emission trends including technology, economic development, behavior, and others.</li>
  <li><strong>Policy</strong>, which addresses representative trends in relevant policies. </li>
</ul>

<p>This interactive allows users to explore this data in multiple ways. To get started, we suggest a few interesting views:
</p>
<ul class="margin30">
  <li><a href="/sectors/power/subjects/emission_drivers">Emissions Drivers in the Power Sector</a>. In China and India, exploding growth has led to a massive buildout of conventional generation – and exponential growth of renewables capacity. In the U.S. and EU, more efficient generation and fuel-switching has led to lower emissions.</li>
  <li><a href="/regions/brazil/sectors/forestry">Forestry in Brazil</a>. Deforestation in the Amazon has slowed rapidly since peaking in 2004, but certain types of deforestation remain persistent.</li>
  <li><a href="/regions/us/subjects/policy">U.S. Climate Policy</a>. Despite a challenging political environment, climate policy has moved forward across sectors. Progress has taken many forms, and has often proceeded most quickly at the state and local levels.</li>

</ul>
<p>To learn more about our approach to this project, check out the <a href="http://climatepolicyinitiative.org/publication/the-policy-climate">full accompanying study available on our website</a>.</p>
</div>

  </div>
</div>
