<header class="header">
  <nav class="header-nav">
    <div class="inner">
      <p class="logo"><a href="/"><%= image_tag 'policy-climate-interactive-logo.png', alt: 'The Policy Climate Interactive', class: 'logo' %></a></p>

      <ul>
        <li class="nav-item">
          <a href="#" class="regions dropdown_link">Regions</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/regions/brazil/subjects/emissions" class="">Brazil</a>
              </li>
              <li>
                <a href="/regions/china/subjects/emissions" class="">China</a>
              </li>
              <li>
                <a href="/regions/eu/subjects/emissions" class="tall">European Union</a>
              </li>
              <li>
                <a href="/regions/india/subjects/emissions" class="">India</a>
              </li>
              <li>
                <a href="/regions/us/subjects/emissions" class="">United States</a>
              </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="dropdown_link last">Sectors</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/sectors/power/subjects/emissions">Power</a>
              </li>
              <li>
                <a href="/sectors/industry/subjects/emissions">Industry</a>
              </li>
              <li>
                <a href="/sectors/forestry/subjects/emissions">Forestry</a>
              </li>
              <li>
                <a href="/sectors/buildings/subjects/emissions">Buildings</a>
              </li>
              <li>
                <a href="/sectors/transport/subjects/emissions">Transport</a>
              </li>
              <li>
                <a href="/sectors/agriculture/subjects/emissions">Agriculture</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="inner">
    <p class="title title_old">Sorry, your browser is not supported :-(</p>
    <h2 class="tagline">Climate Policy in Five Key Economies Across Three Decades</h2>
    <p class="description">This interactive site is an overview of policy issues relevant to climate change across the world. Along with the <a href="http://climatepolicyinitiative.org/publication/the-policy-climate">full accompanying study</a>, it presents three decades of evidence on emissions trends, emissions drivers, and policy activity from five key economies – Brazil, China, India, the EU, and the U.S. —which together contain slightly more than half of the world’s population and account for nearly two-thirds of global greenhouse gas emissions.</p>

    <div class="description description_old">
      <p>Please update to the last version of these browsers:</p>

      <ul>
        <li>· <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
        <li>· <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
        <li>· <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a></li>
        <li>· <a href="http://www.apple.com/safari/">Safari</a></li>
      </ul>

      <p>You can also check the <a href="http://climatepolicyinitiative.org/publication/the-policy-climate">full accompanying study</a>.</p>
    </div>
  </div>

  <div class="navbar clearfix">
  </div>
</header>

<div class="content content-home" id="content">
  <div class="content-header">
    <p>A few interesting views</p>
  </div>

  <div class="content-inner">
    <ul class="clearfix">
      <li class="view first clearfix">
        <a href="/regions/us/subjects/policy">
          <div class="thumbnail thumbnail_1"></div>

          <div class="view-inner">
            <h3 class="view-title">United States climate policy</h3>
            <hr class="graph-sep" />

            <p>Despite a challenging political environment, climate policy has moved forward across sectors. Progress has taken many forms, and has often proceeded most quickly at the state and local levels.</p>

            <span class="button">Explore the data</span>
          </div>
        </a>
      </li>

      <li class="view clearfix">
        <a href="/sectors/power/subjects/emission_drivers">
          <div class="thumbnail thumbnail_2"></div>

          <div class="view-inner">
            <h3 class="view-title">Emission drivers in the power sector</h3>
            <hr class="graph-sep" />

            <p>In China and India, exploding growth has led to a massive buildout of conventional generation – and exponential growth of renewables capacity. In the U.S. and EU, more efficient generation and fuel-switching has led to lower emissions.</p>

            <span class="button">Explore the data</span>
          </div>
        </a>
      </li>

      <li class="view clearfix">
        <a href="/regions/brazil/subjects/emissions">

          <div class="thumbnail thumbnail_3"></div>

          <div class="view-inner">
            <h3 class="view-title">Forest in Brazil</h3>
            <hr class="graph-sep" />

            <p>Deforestation in the Amazon has slowed rapidly since peaking in 2004, but certain types of deforestation remain persistent.</p>

            <span class="button">Explore the data</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="content-footer">
    <p><a href="/guide">Guide to The Policy Climate Interactive</a></p>
  </div>
</div>