<header class="header">
  <nav class="header-nav">
    <div class="inner">
      <p class="logo"><a href="/"><%= image_tag 'policy-climate-interactive-logo.png', alt: 'The Policy Climate Interactive', class: 'logo' %></a></p>

      <ul>
        <li class="nav-item">
          <a href="#" class="regions dropdown_link">Regions</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/regions/brazil/subjects/emissions" class="">Brazil</a>
              </li>
              <li>
                <a href="/regions/china/subjects/emissions" class="">China</a>
              </li>
              <li>
                <a href="/regions/eu/subjects/emissions" class="tall">European Union</a>
              </li>
              <li>
                <a href="/regions/india/subjects/emissions" class="">India</a>
              </li>
              <li>
                <a href="/regions/us/subjects/emissions" class="">United States</a>
              </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="dropdown_link last">Sectors</a>
          <ul class="navbar_dropdown">
              <li>
                <a href="/sectors/power/subjects/emissions">Power</a>
              </li>
              <li>
                <a href="/sectors/industry/subjects/emissions">Industry</a>
              </li>
              <li>
                <a href="/sectors/forestry/subjects/emissions">Forestry</a>
              </li>
              <li>
                <a href="/sectors/buildings/subjects/emissions">Buildings</a>
              </li>
              <li>
                <a href="/sectors/transport/subjects/emissions">Transport</a>
              </li>
              <li>
                <a href="/sectors/agriculture/subjects/emissions">Agriculture</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="inner">
    <p class="title">The Policy Climate</p>
    <p class="description">Learn more about The Policy Climate Interactive.</p>
  </div>

  <div class="navbar clearfix">
    <nav class="inner">
      <ul>
        <li class="menu-item">
          <%= link_to "The Climate Policy Guide", '/about' %>
        </li>

        <li class="menu-item">
          <%= link_to "Data sources", '/sources', class: 'selected' %>
        </li>
      </ul>
    </nav>

    <div class="scroll-shadow"></div>
  </div>
</header>

<div class="content content-about" id="content">
  <div class="content-inner static">
    <div class="content-header">
      <h1>Data sources</h1>
    </div>

    <div class="region_sources">

      <h2>Brazil</h2>
      <h3><a href="/regions/brazil/sectors/forestry">Forestry</a></h3>
      <h4>EMISSIONS</h4>
        <p>Ministry of Science and Technology. (2012) Project Prodes. <a href="http://www.obt.inpe.br/prodes/index.php">Source</a></p>
      <h4>EMISSIONS DRIVERS</h4>
        <p>
          <ul>
            <li>
              Ministry of Science and Technology. (2012) Project Prodes. <a href="http://www.obt.inpe.br/prodes/index.php">Sources</a>
            </li>
            <li>
              World Bank. World Bank Commodity Price Data: Annual (Pink Sheet): annual prices, 1960 to present. <a href="http://econ.worldbank.org/WBSITE/EXTERNAL/EXTDEC/EXTDECPROSPECTS/0,,contentMDK:21574907~menuPK:7859231~pagePK:64165401~piPK:64165026~theSitePK:476883,00.html">Source</a>
            </li>
          </ul>
        </p>
      <h4>POLICY</h4>
        <p>
          Ministry of the Environment. Government of Brazil. National Registry of Conservation Units. <a href="http://www.mma.gov.br/areas-protegidas/cadastro-nacional-de-ucs/dados-consolidados">Source</a>
        </p>
      <h3><a href="/regions/brazil/sectors/agriculture">Agriculture</a></h3>
      <h4>EMISSIONS</h4>
        <p>
          World Bank. (2012) World Development Indicators.
        </p>
      <h4>EMISSIONS DRIVERS</h4>
        <p>
          World Bank. (2012) World Development Indicators.
        </p>
      <h4>POLICY</h4>
        <p>
          OECD. (2011) Agricultural Policy Monitoring and Evaluation: OECD Countries and Emerging Economies. <a href="http://www.oecd.org/brazil/brazil-agriculturalpolicymonitoringandevaluation.htm">Source</a>
        </p>

    </div>
    <div class="region_sources">
  
<h2>China</h2>
<h3><a href="/regions/china/sectors/power">Power</a></h3>
<h4>EMISSIONS</h4>
  <p>
    IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.
  </p>
<h4>POLICY</h4>
  <p>
    <ul>
      <li>
        CPI. (2012) Annual Review of Low-Carbon Development in China (2011-2012).
      </li>
      <li>
        State Electricity and Reform Commission. (2012) Renewable energy price subsidies and quota trading scheme notice. <a href="http://www.sdpc.gov.cn/zcfb/zcfbtz/2011tz/t20110215_394858.htm">Source</a>
      </li>      
      <li>
        National Development and Reform Commission. (2008) Renewable Energy and the Eleventh Five Year Plan. <a href="http://www.ndrc.gov.cn/zcfb/zcfbtz/2008tongzhi/W020080318381136685896.pdf">Source</a>
      </li>
    </ul>
  </p>
<h3><a href="/regions/china/sectors/industry">Industry</a></h3>
<h4>EMISSIONS</h4>
  <p>
    National Bureau of Statistics. (2012) China Statistical Yearbook 2012. <a href="http://www.stats.gov.cn/english/publications/t20121011_402841708.htm">Source</a>  
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    <ul>
      <li>
        IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.
      </li>
      <li>
        CPI Analysis based on data from the China National Bureau of Statistics.
      </li>
    </ul>
  </p>
<h4>POLICY</h4>
<p>
  <ul>
    <li>
      National Development and Reform Commission. (2007) Further issues related to the development of the differential pricing policy. <a href="http://www.sdpc.gov.cn/zcfb/zcfbtz/2007tongzhi/t20071010_163967.htm">Source</a>
    </li>
    <li>
      National Development and Reform Commission. (2010) Notice on the high-energy-consuming enterprises tariff. <a href="http://www.ndrc.gov.cn/zcfb/zcfbtz/2010tz/t20100514_346836.htm">Source</a>
    </li>
  </ul>
</p>

<h3><a href="/regions/china/sectors/buildings">Buildings</a></h3>
<h4>EMISSIONS</h4>
  <p>
    IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    <ul>
      <li>IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.</li>
      <li>LBNL. (2008) China Energy Databook. </li>
    </ul>
  </p>
<h4>POLICY</h4>
  <p>
    Price, L., M. Levine, N. Zhou, D. Fridley, N. Aden, H. Lu, M. McNeil, N. Zheng, Y. Qin, and P. Yowargana. (2011) Assessment of China’s Energy-Saving and Emission-Reduction Accomplishments and Opportunities During the 11th Five Year Plan. Energy Policy. 39(4).
  </p>


    </div>
    <div class="region_sources">
  

<h2>India</h2>
<h3><a href="/regions/india/sectors/power">Power</a></h3>
<h4>EMISSIONS</h4>
<p>
  <ul>
    <li>
      Ministry of Environment and Forests, Government of India. (2012) India: Second National Communication to the United Nations Framework Convention on Climate Change. <a href="http://envfor.nic.in/downloads/public-information/India%20Second%20National%20Communication%20to%20UNFCCC.pdf">Source</a>
    </li>
    <li>
      Ministry of Environment and Forests, Government of India. (2010) India: Greenhouse Gas EMISSIONS 2007. <a href="http://www.moef.nic.in/downloads/public-information/Report_INCCA.pdf">Source</a>
    </li>
    <li>
      Central Electricity Authority of India. (2005) Presentation on AT&C Losses (power point presentation). <a href="http://www.powermin.nic.in/distribution/apdrp/projects/pdf/Presentation_on_AT&C_Losses.ppt">Source</a>
    </li>
  </ul>
</p>

<h4>EMISSIONS DRIVERS</h4>
  <p>EIA. International Energy Statistics: Electricity. <a href="http://www.eia.gov/cfapps/ipdbproject/IEDIndex3.cfm?tid=2&pid=2&aid=12">Source</a></p>
<h4>POLICY</h4>
  <p>
    <ul>
      <li>
        CPI Analysis based on Central Electricity Authority data. 
      </li>
      <li>
        CPI. (2012) Falling Short: An Evaluation of the Indian Renewable Certificate Market. <a href="http://climatepolicyinitiative.org/wp-content/uploads/2012/12/Falling-Short-An-Evaluation-of-the-Indian-Renewable-Certificate-Market.pdf">Source</a>
      </li>
      <li>
        IREDA (2007, 2011): Annual Report. 
      </li>
    </ul>
  </p>

<h3><a href="/regions/india/sectors/industry">Industry</a></h3>
<h4>EMISSIONS</h4>
<p>
  <ul>
    <li>
      Ministry of Environment and Forests, Government of India. (2012) India: Second National Communication to the United Nations Framework Convention on Climate Change. <a href="http://envfor.nic.in/downloads/public-information/India%20Second%20National%20Communication%20to%20UNFCCC.pdf">Source</a>
    </li>
    <li>
      Ministry of Environment and Forests, Government of India. (2010) India: Greenhouse Gas Emissions 2007. <a href="http://www.moef.nic.in/downloads/public-information/Report_INCCA.pdf">Source</a>
    </li>
    <li>
      Ministry of Steel, Government of India. (2012) Development of Indian Steel Sector Since 1991. 
    </li>
  </ul>
</p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    <ul>
      <li>
        Ministry of Commerce and Industry and Reserve Bank of India, Government of India. Foreign Direct Investment data. <a href="www.indiastat.com">Source</a>
      </li>
      <li>
        Steel Authority of India. Iron and steel production data. www.Indiastat.com.
      </li>
      <li>
        OECD. Production and Sales (MEI) Database: Production in Total Manufacturing Series. h<a href="ttp://stats.oecd.org/index.aspx?queryid=90">Source</a>
      </li>
      <li>
        World Bank. (2012) World Development Indicators: Manufacturing Value Added Series. <a href="http://databank.worldbank.org/data/views/variableselection/selectvariables.aspx?source=world-development-indicators">Source</a>
      </li>
    </ul>
  </p>
<h4>POLICY</h4>
  <p>
    Ministry of Power, Government of India. The Energy Conservation Act. Accessed January 2013. <a href="http://www.powermin.nic.in/acts_notification/energy_conservation_act/introduction.htm">Source</a>
  </p>
<h3><a href="/regions/india/sectors/agriculture">Agriculture</a></h3>
<h4>EMISSIONS</h4>
  <p>World Bank. (2012) World Development Indicators.</p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    <ul>
      <li>
        Central Electricity Authority and Central Institute of Agricultural Engineering. Accessed January 2013. <a href="www.Indiastat.com">Source</a>
      </li>
      <li>
        Department of Animal Husbandry, Dairying & Fisheries, Ministry of Agriculture, Government of India. Livestock Census. <a href="http://www.dahd.nic.in/dahd/statistics/livestock-census.aspx">Source</a>
      </li>
    </ul>
  </p>
<h4>POLICY</h4>
  <p>
    Ministry of Finance, Government of India. (2012) The Economic Survey - 2011-12. <a href="http://indiabudget.nic.in/budget2012-2013/survey.asp">Source</a>
  </p>


    </div>
    <div class="region_sources">
  

<h2>Europe</h2>
<h3><a href="/regions/eu/sectors/power">Power</a></h3>
<h4>EMISSIONS:
  <p>
    <ul>
      <li>
        EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
      </li>
      <li>
        Eurostat. (2012) Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
      </li>
    </ul>
  </p>
<h4>EMISSIONS DRIVERS:
  <p>
    <ul>
      <li>
        EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
      </li>
      <li>
        Eurostat. (2012) Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
      </li>
    </ul>
  </p>
<h4>POLICY:
  <p>
    <ul>
      <li>
        EC. Renewable energy: Action Plans and Forecasts. <a href="http://ec.europa.eu/energy/renewables/action_plan_en.htm">Source</a>
      </li>
      <li>
        Eurostat. (2012) Supply, transformation, consumption - electricity - annual data. Table nrg_105a.
      </li>
    </ul>
  </p>

<h3><a href="/regions/eu/sectors/industry">Industry</a></h3>
<h4>EMISSIONS</h4>
  <p>
    <ul>
      <li>
        EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
      </li>
      <li>
        Eurostat. (2011) Consumption of electricity by industry, transport activities and households/services. Table ten00094. 
      </li>
      <li>
        Eurostat. (2011) Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
      </li>
    </ul>
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    <ul>
      <li>
        EEA. (2011) Energy efficiency index (ODEX) in industry in EU-27. <a href="http://www.eea.europa.eu/data-and-maps/figures/energy-efficiency-index-odex-in-4">Source</a>
      </li>
      <li>
        OECD. Production and Sales (MEI) Database: Production in Total Manufacturing Series. <a href="http://stats.oecd.org/index.aspx?queryid=90">Source</a>
      </li>
      <li>
        World Bank. (2012) World Development Indicators: Manufacturing Value Added Series. <a href="http://databank.worldbank.org/data/views/variableselection/selectvariables.aspx?source=world-development-indicators">Source</a>
      </li>
    </ul>
  </p>
<h4>POLICY</h4>
  <p>
    <ul>
      <li>EEA. (2012) Perspective of the EU ETS cap up to 2050. <a href="http://www.eea.europa.eu/data-and-maps/figures/perspective-of-the-eu-ets">Source</a>
      </li>
      <li>
        EC. (2013) What is the EU doing about climate change?  Last updated January 7, 2013. <a href="http://ec.europa.eu/clima/policies/brief/eu/index_en.htm">Source</a>
      </li>
    </ul>
  </p>
 
<h3><a href="/regions/eu/sectors/buildings">Buildings</a></h3>
<h4>EMISSIONS</h4>
  <p>
    <ul>
      <li>
        EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
      </li>
      <li>
        Eurostat (2011): Consumption of electricity by industry, transport activities and households/services. Table ten00094.
      </li>
      <li>
        Eurostat (2011): Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
      </li>
    </ul>
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    EEA. (2011) Decomposition analysis of direct CO2 emission trends from EU households, 1990–2008. <a href="http://www.eea.europa.eu/data-and-maps/figures/decomposition-analysis-of-direct-co2-1/decomposition-analysis-of-direct-co2-1">Source</a>
  </p>
<h4>POLICY</h4>
  <p>
    CPI Analysis based on the following EU Directives and Regulations: Directives 94/2/EC, 2003/66/EC, 2009/125/EC, and 2010/30/EU; Council Directive 92/75/EEC, Commission Regulation No. 643/2009, and Commission Delegated Regulation No. 1060/2010.
  </p>

<h3><a href="/regions/eu/sectors/transport">Transport</a></h3>
<h4>EMISSIONS</h4>
  <p>
    <ul>
      <li>
        EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
      </li>
      <li>
        EC. (2012) Europe Transport in Figures: Statistical Pocketbook 2012. <a href="http://ec.europa.eu/transport/facts-fundings/statistics/doc/2012/pocketbook2012.pdf">Source</a>
      </li>
    </ul>
  </p>
<h4>EMISSIONS DRIVERS</h4>
  <p>
    EEA. (2011) Specific CO2 emissions per passenger-km and per mode of transport in Europe, 1995-2011. <a href="http://www.eea.europa.eu/data-and-maps/figures/specific-co2-emissions-per-passenger-3">Source</a>
  </p>
<h4>POLICY
  <p>
    <ul>
      <li>
        EC. Statistics and Market Observatory: Oil Bulletin: Time Series Per Country (1994-2005). <a href="http://ec.europa.eu/energy/observatory/oil/bulletin_en.htm">Source</a>
      </li>
      <li>
        EC. Statistics and Market Observatory: Oil Bulletin: History from 2005 onwards. <a href="http://ec.europa.eu/energy/observatory/oil/bulletin_en.htm">Source</a>
      </li>
    </ul>
  </p>

<h3><a href="/regions/eu/sectors/agriculture">Agriculture</a></h3>
<h4>EMISSIONS</h4>
<p><ul><li>EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>
<h4>EMISSIONS DRIVERS</h4>
<p><ul><li>EEA. (2011) Decomposition analysis of CH4 emission trends from enteric fermentation of cattle in the EU, 1990–2008. <a href="http://www.eea.europa.eu/data-and-maps/figures/decomposition-analysis-of-ch4-emission">Source</a></li>
  <li>
EEA. (2011) Decomposition analysis of N2O emission trends from EU agricultural soils, 1990–2008. <a href="http://www.eea.europa.eu/data-and-maps/figures/decomposition-analysis-of-n2o-emission">Source</a>
</li>
</ul>
</p>
<h4>POLICY</h4>
<p>EC. (2011) Report from the Commission to the Council and the European Parliament on implementation of Council Directive 91/676/EEC concerning the protection of waters against pollution caused by nitrates from agricultural sources based on Member State reports for the period 2004-2007. <a href="http://ec.europa.eu/environment/water/water-nitrates/pdf/sec_2011_913.pdf">Source</a>
</p>

    </div>
    <div class="region_sources">
  


<h2>United States</h2>
<h3><a href="/regions/us/sectors/power">Power</a></h3>
<h4>EMISSIONS</h4>
<p>EIA. (2012) Annual Energy Review. </p>
<h4>EMISSIONS DRIVERS</h4>
<p>EIA. (2012) Annual Energy Review.</p>
<h4>POLICY</h4>
<p><ul><li>Database of State Incentives for Renewables and Efficiency. <a href="http://dsireusa.org">Source</a>
</li>
<li>
Joint Committee on Taxation. Estimates Of Federal Tax Expenditures. Fiscal Years 1994-2014. <a href="https://www.jct.gov/publications.html?func=select&id=5">Source</a>. Note: selected data used from this source when estimates from OMB were not available.</li>
<li>
NSF. Research and Development in Industry. Years 2007 and prior. <a href="http://www.nsf.gov/statistics/industry/.
OMB">Source</a>. Analytical Perspectives, Budget of the United States Government. Fiscal Years 1995-2011. <a href="http://www.whitehouse.gov/omb/budget/Analytical_Perspectives">Source</a>

<h3><a href="/regions/us/sectors/industry">Industry</a></h3>
<h4>EMISSIONS</h4>
<p>
EIA. (2012) Annual Energy Review: Table 11.2c: Carbon Dioxide Emissions from Energy Consumption, Industrial Sector, 1949-2011. <a href="http://www.eia.gov/totalenergy/data/annual">Source</a>
</p>
<h4>EMISSIONS DRIVERS</h4>
  <p><ul><li>EIA. (2010) Manufacturing Industry Trend Data 1998, 2002, and 2006. <a href="http://www.eia.gov/emeu/efficiency/mecs_trend_9802/mecs_trend9802.html">Source</a></li>
    <li>
OECD. Production and Sales (MEI) Database: Production in Total Manufacturing Series. <a href="http://stats.oecd.org/index.aspx?queryid=90">Source</a>
</li>
<li>
World Bank. (2012) World Development Indicators: Manufacturing Value Added Series. <a href="http://databank.worldbank.org/data/views/variableselection/selectvariables.aspx?source=world-development-indicators">Source</a>
</li></ul></p>
<h4>POLICY</h4>
  <p>
    <ul>
      <li>
        Database of State Incentives for Renewables and Efficiency. <a href="http://dsireusa.org">Source</a>
      </li>
      <li>        
        DOE. (2012) Industrial Assessment Centers Database. Accessed July 30, 2012. <a href="http://iac.rutgers.edu/database">Source</a>
      </li>
    </ul>
  </p>

<h3><a href="/regions/us/sectors/transport">Transport</a></h3>
<h4>EMISSIONS</h4>
<p><ul><li>Bureau of Transportation Statistics. (2012) National Transportation Statistics. <a href="http://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/national_transportation_statistics/index.html">Source</a>
<h4>EMISSIONS DRIVERS</h4>
<p>Bureau of Transportation Statistics. (2012) National Transportation Statistics. <a href="http://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/national_transportation_statistics/index.html">Source</a>
</p>
<h4>POLICY</h4>
<p>Bureau of Transportation Statistics. (2012) National Transportation Statistics. <a href="http://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/national_transportation_statistics/index.html">Source</a></p>

<h3><a href="/regions/us/sectors/buildings">Buildings</a></h3>
<h4>EMISSIONS</h4>
<p>DOE. (2012): Buildings Energy Data Book. <a href="http://buildingsdatabook.eren.doe.gov/">Source</a></p>
<h4>EMISSIONS DRIVERS</h4>
<p><ul><li>DOT. (2011) Buildings Energy Data Book. </li>
<li>U.S. US Census. (2010) Median and Average Square Feet of Floor Area in New Single-Family Houses Completed by Location. <a href="http://www.census.gov/const/C25Ann/">Source</a>

</li></ul></p>
<h4>POLICY</h4>
<p><ul><li>DOE. Budget Justifications and Supporting Documents. <a href="http://www.cfo.doe.gov/crorg/cf30.htm#Justifications">Source</a></li>
<li>Personal communications with David Belzer, Pacific Northwest National Laboratory.</li>
<li>PNNL. (2008) A Retrospective Analysis of Commercial Building Codes: 1990-2008.</li>
</ul>
</p>


</li></ul></p>

</div>

  
  <div class="region_sources">

  <h2>Sectoral Pages Graph References</h2>      
  <h3>Transportation</h3>
  <h4>UNITES STATES</h4>
  <p>Bureau of Transportation Statistics. (2012) National Transportation Statistics: Table 4-53. <a href="http://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/national_transportation_statistics/html/table_04_53.html">Source</a>.</p>
  <h4>EUROPE</h4>
  <p>EC. (2012) Europe Transport in Figures: Statistical Pocketbook 2012. <a href="http://ec.europa.eu/transport/facts-fundings/statistics/doc/2012/pocketbook2012.pdf">Source</a>.</p>

  <h4>Power</h4>
<h4>UNITED STATES</h4>
<p>EIA. (2012) Annual Energy Review: Table 11.2e: Carbon Dioxide Emissions from Energy Consumption, Electric Power Sector, 1949-2011. <a href="http://www.eia.gov/totalenergy/data/annual">Source</a>.</p>
<h4>EUROPE</h4>
<p>EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>.</p>

<h4>CHINA</h4>
<p>IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.</p>
<h4>INDIA</h4>
<p>Ministry of Environment and Forests. (2010) India: Greenhouse Gas Emissions 2007. <a href="http://www.moef.nic.in/downloads/public-information/Report_INCCA.pdf">Source</a>.</p>
<h3>Industry</h4>
<h4>UNITED STATES</h4>
<p>EIA. (2012) Annual Energy Review: Table 11.2c: Carbon Dioxide Emissions from Energy Consumption, Industrial Sector, 1949-2011. <a href="http://www.eia.gov/totalenergy/data/annual">Source</a>.</p>
<h4>EUROPE</h4>
<ul>
  <li>
    EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>.
  </li>
  <li>
    Eurostat. (2011) Consumption of electricity by industry, transport activities and households/services. Table ten00094.
  </li>
  <li>Eurostat. (2011) Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
  </li>
  <li>Notes: Indirect emissions were calculated and added to direct emissions from fuel combustion.</li>
<h4>CHINA</h4>
<p>National Bureau of Statistics. (2012) China Statistical Yearbook 2012. <a href="http://www.stats.gov.cn/english/publications/t20121011_402841708.htm">Source</a>.</p>
<h4>INDIA</h4>
<p>Ministry of Statistics and Programme Implementation. (2012) India Statistics. <a href="http://mospi.nic.in/mospi_new/site/India_Statistics.aspx">Source</a>. Notes: Estimated Emissions Index</p>

<h3>Forestry</h3>
<h4>BRAZIL</h4>
<p>Ministry of Science and Technology. (2012) Project Prodes. <a href="http://www.obt.inpe.br/prodes/index.php">Source</a>.</p>

<h3>Agriculture
<h4>BRAZIL</h4>
<p>World Bank. (2012) World Development Indicators.</p>

<h4>INDIA</h4>
<p>World Bank. (2012) World Development Indicators. </p>
<h4>EUROPE</h4>
<p>EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>.</p>

<h3>Buildings</h3>
<h4>UNITED STATES</h4>
<p>DOE. (2012) Buildings Energy Data Book. <a href="http://buildingsdatabook.eren.doe.gov/">Source</a>.</p>
<h4>EUROPE</h4>
<p>
  <ul>
    <li>
      EEA. (2012) National emissions reported to the UNFCCC and to the Europe Greenhouse Gas Monitoring Mechanism. <a href="http://www.eea.europa.eu/data-and-maps/data/national-emissions-reported-to-the-unfccc-and-to-the-eu-greenhouse-gas-monitoring-mechanism-6">Source</a>.
    </li>
    <li>
      Eurostat. (2011) Consumption of electricity by industry, transport activities and households/services. Table ten00094.
    </li>
    <li>      
      Eurostat. (2011) Supply, transformation, consumption - electricity - annual data. Table nrg_105a. 
    </li>
    <li>
      Notes: Indirect emissions were calculated and added to direct emissions from fuel combustion.
    </li>
  </ul>
</p>
<h4>CHINA</h4>
<p>IEA. (2012) Energy Statistics of Non-OECD Countries. IEA Online Statistics. OECD/IEA.</p>

</div>

















  </div>
</div>
