---
layout: region
description: Textual description of Brazil. The highest deforestation rate in the world, and as of 2005 still has the largest area of forest removed annually and the highest GDP growth rate.
region: brazil
type: sector
sector: agriculture
sectorname: Agriculture
sectordescription: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
prevsector: forestry
sectors:
  - forestry
  - agriculture
---

<div class="graphs">
  {% include years.html %}

  <div class="graphs-inner">
    <div class="graph">
      <div class="graph-legend">
        <h3 class="graph-title">
          <span>Emissions</span>
          <a href="#" class="graph-link">Emissions</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="land_use_emissions_copy_test_matallo" class="graph_selector_link">Emissions</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="land_use_emissions_copy_test_matallo_2" class="graph_selector_link">Land Use</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Brief text describing Brazil emission drivers in forestry sector.</p>
      </div>

      <div class="graph-canvas" id="land_use_emissions_copy_test_matallo">
        <ul class="graph-data-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="land_use_emissions_copy_test_matallo_2">
        <ul class="graph-data-legend"></ul>
      </div>
    </div>

    <div class="graph">
      <div class="graph-legend">
        <h3 class="graph-title">
          <span>Emission drivers</span>
          <a href="#" class="graph-link">Intensity indices</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="emissions_drivers_copy_test_matallo" class="graph_selector_link">Intensity indices</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="brazil_ag_2_exports_copy_test_matallo" class="graph_selector_link">Exports</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Brief text describing Brazil emission drivers in forestry sector.</p>
      </div>

      <div class="graph-canvas" id="emissions_drivers_copy_test_matallo">
        <ul class="graph-data-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="brazil_ag_2_exports_copy_test_matallo">
        <ul class="graph-data-legend"></ul>
      </div>
    </div>

    <div class="graph">
      <div class="graph-legend">
        <h3 class="graph-title">
          <span>Policy</span>
          Credit
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description">Brief text describing Brazil emission drivers in forestry sector.</p>
      </div>

      <div class="graph-canvas" id="brazil_ag_3_credit_subsidies_copy_test_matallo">
        <ul class="graph-data-legend"></ul>
      </div>
    </div>
  </div>

  {% include years.html %}

  <div class="slider">
    <ul class="tabs clearfix">
      <li class="first selected"><a href="javascript:void(0)" data-rel="slide1">1980-1990</a></li>
      <li class="short"><a href="javascript:void(0)" data-rel="slide2">1990-2000</a></li>
      <li><a href="javascript:void(0)" data-rel="slide3">2000-2010</a></li>
    </ul>

    <div class="slides clearfix">
      <ul class="slides-inner clearfix">
        <li class="slide" id="slide1">
          <p class="description">Utilities begin exploring integrated resource planning time of high energy prices and fixed retail prices. Beggining of federal involvment in knowledge-transfer to industry.</p>

          <ul>
            <li class="col first">
              <h3>Policy Barriers</h3>

              <ul>
                <li>
                  <dl>
                    <dt>IAC program</dt>
                    <dd>Beginning 1976. Program run by DOE to audit facilities with trained engineers.</dd>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>Integrated resource planning</dt>
                    <dd>By public utilities responding to high energy prices and fixed retail  prices.</dd>
                  </dl>
                </li>
              </ul>
            </li>

            <li class="col">
              <h3>Underlying changes</h3>

              <ul>
                <li>
                  <dl>
                    <dt>Industrial sectors form declining share of GDP, but increase fross value-add</dt>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>1995-2000 sawe increases in durable-goods manufacturing, driven in part by IT equipment (BEA, 2004)</dt>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>Elimination of trade restrictions</dt>
                    <dd>1992: End of trade restrictions protecting US steel industry (CRS 2003)</dd>
                  </dl>
                </li>
              </ul>
            </li>

            <li class="col">
              <h3>Policy Incentives</h3>

              <ul>
                <li>
                  <dl>
                    <dt>Energy policy act (1992) requires states to consider DSM programs</dt>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>Deregulation of utilities after 1994 led to decrease in DSM spending (RFF, 2004), (ACEEE, 2006)</dt>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="slide" id="slide2">
          2
        </li>

        <li class="slide" id="slide3">
          3
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content-footer">
  <a href="javascript:void(0)" class="scroll-controls scroll-top"><i><span>↑</span></i></a>
</div>
