---
layout: region
region: brazil
tagline: Protecting forests through policy
description: In any discussion of Brazilian climate policy, the first topic is deforestation. Brazil has seen marked success in climate-related policies and may be a good model for other emerging economies. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output.
type: subject
sector: emission_drivers
sectorname: Emission drivers
sectordescription: The Amazon is the world’s largest rainforest, stretching over an area of over five million square kilometers. Most of the forest is contained within Brazil, where the Amazon originally occupied over four million square kilometers of the country’s territory—an area equivalent to almost half of continental Europe. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output. Having greatly reduced large-scale deforestation, Brazil’s challenge now is to address small-scale deforestation, which may require different policy approaches.
prevsector: emissions
nextsector: policy
sectors:
  - forestry
  - agriculture
---

<div class="graphs">
  {% include years.html %}

  <div class="graphs-inner">
    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Forestry</span>
          <a href="#" class="graph-link">Commodity prices</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="commodity_prices_copy_test_matallo">Commodity prices</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="deforestation_polygons_ind_copy_test_matallo">Deforestation polygons ind</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Common drivers of deforestation, such as commodity prices, and land protection appear to have changed deforestation patterns, with large scale deforestation declining much more rapidly than small scale (e.g. tracts of less than 25 hectares).</p>
      </div>

      <div class="graph-canvas" id="commodity_prices_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="deforestation_polygons_ind_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>

    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Agriculture</span>
          <a href="#" class="graph-link">Intensity indices</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="emissions_drivers_copy_test_matallo">Intensity indices</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="brazil_ag_2_exports_copy_test_matallo">Exports</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Although the intensity of food production per hectare increased, mechanization did not increase.</p>
      </div>

      <div class="graph-canvas" id="emissions_drivers_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="brazil_ag_2_exports_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>
  </div>

  {% include years.html %}
</div>

<div class="content-footer">
  <a href="javascript:void(0)" class="scroll-controls scroll-top"><i><span>↑</span></i></a>
</div>
