---
layout: region
region: brazil
tagline: Protecting forests through policy
description: In any discussion of Brazilian climate policy, the first topic is deforestation. Brazil has seen marked success in climate-related policies and may be a good model for other emerging economies. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output.
type: subject
sector: emissions
sectorname: Emission
sectordescription: Lorem ipsum dolor sit amet to be provided
nextsector: policy
sectors:
  - forestry
  - agriculture
---

<div class="graphs">
  {% include years.html %}

  <div class="graphs-inner">
    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Forestry</span>
          Deforestation rate
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description">Deforestation declined rapidly, particularly after major policy changes in 2004 and again in 2008.</p>
      </div>

      <div class="graph-canvas" id="deforestation_rate_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>

    {% include years.html %}

    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Agriculture</span>
          <a href="#" class="graph-link">Emissions</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="land_use_emissions_copy_test_matallo">Emissions</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="land_use_emissions_copy_test_matallo_2">Land Use</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Both land under cultivation and non-CO2 emissions increased.</p>
      </div>

      <div class="graph-canvas" id="land_use_emissions_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="land_use_emissions_copy_test_matallo_2">
        <ul class="graph-legend"></ul>
      </div>
    </div>
  </div>

  {% include years.html %}
</div>

<div class="content-footer">
  <a href="javascript:void(0)" class="scroll-controls scroll-top"><i><span>↑</span></i></a>
</div>
