---
layout: region
region: brazil
tagline: Protecting forests through policy
description: In any discussion of Brazilian climate policy, the first topic is deforestation. Brazil has seen marked success in climate-related policies and may be a good model for other emerging economies. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output.
type: sector
sector: forestry
sectorname: Forestry
sectordescription: The Amazon is the world’s largest rainforest, stretching over an area of over five million square kilometers. Most of the forest is contained within Brazil, where the Amazon originally occupied over four million square kilometers of the country’s territory—an area equivalent to almost half of continental Europe. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output. Having greatly reduced large-scale deforestation, Brazil’s challenge now is to address small-scale deforestation, which may require different policy approaches.
prevsector: policy
nextsector: agriculture
sectors:
  - forestry
  - agriculture
---

<div class="graphs">
  {% include years.html %}

  <div class="graphs-inner">
    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Emissions</span>
          Deforestation rate
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description">Deforestation declined rapidly, particularly after major policy changes in 2004 and again in 2008.</p>
      </div>

      <div class="graph-canvas" id="deforestation_rate_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>

    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Emission drivers</span>
          <a href="#" class="graph-link">Commodity prices</a>
        </h3>

        <ul class="graph_dropdown">
          <li><h3 class="graph-title"><a href="#" data-rel="commodity_prices_copy_test_matallo">Commodity prices</a></h3></li>
          <li><h3 class="graph-title"><a href="#" data-rel="deforestation_polygons_ind_copy_test_matallo">Deforestation polygons ind</a></h3></li>
        </ul>

        <hr class="graph-sep"/>

        <p class="graph-description">Common drivers of deforestation, such as commodity prices, and land protection appear to have changed deforestation patterns, with large scale deforestation declining much more rapidly than small scale (e.g. tracts of less than 25 hectares).</p>
      </div>

      <div class="graph-canvas" id="commodity_prices_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>

      <div class="graph-canvas hidden" id="deforestation_polygons_ind_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>

    <div class="graph horizontal_marks">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Policy</span>
          Protected lands
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description">As an example of increased Brazilian policy efforts, Brazil has increased efforts to reduce deforestation, and the amount of land under government protection has increased significantly since 2001.</p>
      </div>

      <div class="graph-canvas" id="protected_lands_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>


      <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Bar graph test</span>
          Bar graph test
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description">TEST!.</p>
      </div>

      <div class="graph-canvas" id="grid_impact_1_copy_diego_2">
        <ul class="graph-legend"></ul>
      </div>
    </div>


  </div>

  {% include years.html %}
</div>

<div class="slider">
  <ul class="tabs clearfix">
    <li class="first selected"><a href="javascript:void(0)" data-rel="slide1">1980-1990</a></li>
    <li class="short"><a href="javascript:void(0)" data-rel="slide2">1990-2000</a></li>
    <li><a href="javascript:void(0)" data-rel="slide3">2000-2010</a></li>
  </ul>

  <div class="slides clearfix">
    <ul class="slides-inner clearfix">
      <li class="slide" id="slide1">
        <p class="description">Utilities begin exploring integrated resource planning time of high energy prices and fixed retail prices. Beggining of federal involvment in knowledge-transfer to industry.</p>

        <ul>
          <li class="col first">
            <h3>Policy Barriers</h3>

            <ul>
              <li>
                <dl>
                  <dt>IAC program</dt>
                  <dd>Beginning 1976. Program run by DOE to audit facilities with trained engineers.</dd>
                </dl>
              </li>

              <li>
                <dl>
                  <dt>Integrated resource planning</dt>
                  <dd>By public utilities responding to high energy prices and fixed retail  prices.</dd>
                </dl>
              </li>
            </ul>
          </li>

          <li class="col">
            <h3>Underlying changes</h3>

            <ul>
              <li>
                <dl>
                  <dt>Industrial sectors form declining share of GDP, but increase fross value-add</dt>
                </dl>
              </li>

              <li>
                <dl>
                  <dt>1995-2000 sawe increases in durable-goods manufacturing, driven in part by IT equipment (BEA, 2004)</dt>
                </dl>
              </li>

              <li>
                <dl>
                  <dt>Elimination of trade restrictions</dt>
                  <dd>1992: End of trade restrictions protecting US steel industry (CRS 2003)</dd>
                </dl>
              </li>
            </ul>
          </li>

          <li class="col">
            <h3>Policy Incentives</h3>

            <ul>
              <li>
                <dl>
                  <dt>Energy policy act (1992) requires states to consider DSM programs</dt>
                </dl>
              </li>

              <li>
                <dl>
                  <dt>Deregulation of utilities after 1994 led to decrease in DSM spending (RFF, 2004), (ACEEE, 2006)</dt>
                </dl>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="slide" id="slide2">
        2
      </li>

      <li class="slide" id="slide3">
        3
      </li>
    </ul>
  </div>
</div>

<div class="content-footer">
  <a href="javascript:void(0)" class="scroll-controls scroll-top"><i><span>↑</span></i></a>
</div>
