---
layout: region
region: brazil
tagline: Protecting forests through policy
description: In any discussion of Brazilian climate policy, the first topic is deforestation. Brazil has seen marked success in climate-related policies and may be a good model for other emerging economies. Roughly half the slowdown in deforestation in the late-2000s was a result of deliberate government policy, while better land productivity has led to increased agricultural output.
type: subject
sector: policy
sectorname: Policy
sectordescription: Lorem ipsum dolor sit amet to be provided
prevsector: emission_drivers
nextsector: forestry
sectors:
  - forestry
  - agriculture
---

<div class="graphs">
  {% include years.html %}

  <div class="graphs-inner">
    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Forestry</span>
          Protected lands
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description long">As an example of increased Brazilian policy efforts, Brazil has increased efforts to reduce deforestation, and the amount of land under government protection has increased significantly since 2001.</p>
      </div>

      <div class="graph-canvas" id="protected_lands_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>

    {% include years.html %}

    <div class="graph">
      <div class="graph-selector">
        <h3 class="graph-title">
          <span>Agriculture</span>
          Credit
        </h3>

        <hr class="graph-sep"/>

        <p class="graph-description long">Brazil made increasing the productivity of agricultural land a priority as a means to reduce expansion into new land and deforestation. Subsidies to producers, in part to modernize their operations, steadily increased over time. In the 1990s, credit subsidies were offset by price controls set below market prices; as these price controls rose above market prices, they became additional effective subsidies.</p>
      </div>

      <div class="graph-canvas" id="brazil_ag_3_credit_subsidies_copy_test_matallo">
        <ul class="graph-legend"></ul>
      </div>
    </div>
  </div>

  {% include years.html %}
</div>

<div class="content-footer">
  <a href="javascript:void(0)" class="scroll-controls scroll-top"><i><span>↑</span></i></a>
</div>
