//= require_self
//= require jquery.qtip
//= require dropdowns
//= require slider
//= require graphs

@import "compass/reset";
@import "compass/css3";


.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.wrapper {
  overflow: hidden;
  min-width: 1040px;
  background: #F4F4F4;

  &.stuck {
    .header,
    .scroll-nav {
      position: fixed;
      margin-top: -570px;
    }

    .scroll {
      bottom: 0;

      .nav-link { display: none; }
      .nav-title { display: block; }
    }

    .scroll-shadow { display: block; }
  }
}

.inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  min-width: 1040px;
  height: 730px;
  color: #fff;

  .title {
    margin-top: 75px;
    font: 300 44px/.9 "chaparral-pro", sans-serif;
    text-transform: capitalize;
  }

  .description {
    padding-bottom: 100px;
    font: 300 29px/1.1 "chaparral-pro", serif;
  }
}

.tagline {
  margin: 0 0 30px -5px;
  font: 700 italic 66px/1.1 "open-sans", sans-serif;
  text-transform: uppercase;
}

.header-nav {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(#fff, .5);
  background: rgba(#000, .25);

  .logo { float: left; }

  ul {
    float: right;

    a {
      padding: 0 40px;
      border-left: 1px solid rgba(#fff, .5);

      &:hover,
      &.selected { background: rgba(#000, .4); }

      &.last { border-right: 1px solid rgba(#fff, .5); }
    }
  }
}

.item { float: left; }

.nav-item {
  @extend .item;
  font: 600 12px/90px "open-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

  .nav-title {
    display: none;
    font-size: 30px;
  }

  a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;

    &.nav-link { padding: 0; }
  }
}

.navbar {
  width: 100%;
  height: 60px;
  background: #222;
  color: rgba(#fff, .3);

  ul {
    float: left;

    &.last {
      float: right;
      margin-right: -39px;
    }

    &.first { margin-left: -39px; }
  }
}

.menu-item {
  @extend .nav-item;
  line-height: 60px;

  &.first { padding: 0 15px 0 0; }

  .selected {
    margin-top: -4px;
    line-height: 64px;
    background: #fff;
    color: #222;
  }
}

.content {
  margin: 0 auto;
  width: 1038px;
  border: 1px solid rgba(#000, .1);
  background: #fff;
  @include box-shadow(0 0 10px rgba(#000, .1));

  .description {
    font: 16px "open-sans", sans-serif;
    color: #666;
  }
}

.content-inner { border-bottom: 1px solid #ddd; }

.content-footer { text-align: center; }

.scroll-controls {
  display: block;
  padding: 40px 20px;
  height: 71px;
  @include opacity(.2);

  &:hover { @include opacity(.4); }
  &:active { @include opacity(.8); }

  i {
    display: inline-block;
    height: 71px;
    width: 71px;
    background: image-url('scroll-sprite.png') no-repeat;
  }

  span { display: none; }
}

.footer {
  font: 14px "cronos-pro", sans-serif;
  min-width: 1040px;

  .footer-inner {
    padding: 25px 0;

    .item {
      margin-left: 15px;

      a {
        text-decoration: none;
        color: #F26F4D;

        &:hover { text-decoration: underline; }
      }
    }
  }

  .logo {
    float: left;
    font: 600 13px "open-sans", sans-serif;
    color: rgba(#878787, .6);
  }

  ul { float: right; }
}

.footer-bottom {
  border-top: 1px solid rgba(#000, .1);
  line-height: 48px;
  background: #fff;

  p {
    text-align: right;
    color: #999;
  }

  a { color: #999; }
}

.navbar_dropdown,
.graph_dropdown { display: none; }
