//= require_self
//= require jquery.qtip
//= require dropdowns

@import "compass/reset";
@import "compass/css3";


.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.wrapper {
  overflow: hidden;
  min-width: 1040px;
  background: #F4F4F4;
}

.inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  min-width: 1040px;
  color: #fff;

  .title {
    margin-top: 75px;
    font: 300 44px/.9 "chaparral-pro", sans-serif;
    text-transform: capitalize;
  }

  .description {
    padding-bottom: 100px;
    font: 300 29px/1.1 "chaparral-pro", serif;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.tagline {
  margin: 0 0 30px -5px;
  font: 700 italic 66px/1.1 "open-sans", sans-serif;
  text-transform: uppercase;
}

.header-nav {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(#fff, .5);
  background: rgba(#000, .25);

  .logo { float: left; }

  .nav-item { line-height: 90px; }

  ul {
    float: right;

    a {
      padding: 0 40px;
      border-left: 1px solid rgba(#fff, .5);

      &:hover,
      &.selected { background: rgba(#000, .4); }

      &.last { border-right: 1px solid rgba(#fff, .5); }
    }
  }
}

.item { float: left; }

.nav-item {
  @extend .item;
  font: 600 12px/70px "open-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

  .nav-title {
    display: none;
    font-size: 24px;
  }

  a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;

    &.nav-link { padding: 0; }
  }
}

.navbar {
  width: 100%;
  height: 60px;
  background: #222;
  color: rgba(#fff, .3);

  ul {
    float: left;

    &.last {
      float: right;
      margin-right: -39px;
    }

    &.first { margin-left: -39px; }
  }
}

.menu-item {
  @extend .nav-item;
  line-height: 60px;

  &.first { padding: 0 15px 0 0; }

  .selected {
    margin-top: -4px;
    line-height: 64px;
    background: #fff;
    color: #222;
  }
}

.content {
  margin: 0 auto;
  width: 1038px;
  border: 1px solid rgba(#000, .1);
  background: #fff;
  @include box-shadow(0 0 10px rgba(#000, .1));

  .description {
    font: 16px "open-sans", sans-serif;
    color: #666;
  }
}

.content-inner { 
  border-bottom: 1px solid #ddd;

  &.static {

    h1 {
      font: 40px/1.1 "chaparral-pro", serif;
      text-align: left;
      margin-left: 40px;
    }

    h2 {
      font: 35px/1.1 "chaparral-pro", serif;
      color: #333;        
    }

    h3 {
      font: 24px/1.1 "open-sans", sans-serif;
      color: #666;
      padding: 35px 0 0 0;
    }

    h4 {
      margin: 20px 0 5px;
      font: bold 13px/1.1 "open-sans", sans-serif;
      color: #333;
    }

    p {
      font: 16px "open-sans" sand-serif;
      color: #666;
      width: 693px;
    }

    strong {
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #F0522C;
      &:hover {
        text-decoration: underline;
      };
    }

    .margin30 {
      padding: 30px 0 0 0;
    }

    .module {
      border-top: 1px solid #CCC;
      padding: 40px;

      h2 {
        margin-bottom: 15px;
      }

      ul {
        width: 693px;

        li {
          margin: 0 0 15px 0;
          padding-left: 20px;
          background: image-url("bullet.png") no-repeat 0px 4px;          
          font: 16px "open-sans" sans-serif;
          color: #666;        
        }
      }

    }

    table {

      margin: 30px 0 30px 0;
      width: 693px;
      font: 13px "open-sans" sans-serif;
      font-weight: bold;
      color: #666;

      tr {

        th {
          text-align: center;
          height: 50px;
          vertical-align: middle;
        }
        td {
          width: 100px;
          border: 1px solid #ccc;
          height: 70px;

          &.first {
            border: none;
          }

          &.tick {
            background: image-url('tick.png') no-repeat 48px 30px;
          }

        }
      }
    }

    .region_sources {

      border-top: 1px solid #CCC;
      padding: 40px;

      p {
        font: 15px/1.2 "open-sans", sans-serif;
        color: #666;
        width: 693px;
      }

      ul li {
        width: 693px;
        font: 15px/1.2 "open-sans", sans-serif;
        color: #666;
        margin: 10px 0 0 0;
      }


    }



  }
}

.content-footer { text-align: center; }

.scroll-controls {
  display: block;
  padding: 40px 20px;
  height: 71px;
  @include opacity(.2);

  &:hover { @include opacity(.4); }
  &:active { @include opacity(.8); }

  i {
    display: inline-block;
    height: 71px;
    width: 71px;
    background: image-url('scroll-sprite.png') no-repeat;
  }

  span { display: none; }
}

.footer {
  font: 14px "cronos-pro", sans-serif;
  min-width: 1040px;

  .footer-inner {
    padding: 25px 0;

    .item {
      margin-left: 15px;

      a {
        text-decoration: none;
        color: #F26F4D;

        &:hover { text-decoration: underline; }
      }
    }
  }

  .logo {
    float: left;
    font: 600 13px "open-sans", sans-serif;
    color: rgba(#878787, .6);
  }

  ul { float: right; }
}

.footer-bottom {
  border-top: 1px solid rgba(#000, .1);
  line-height: 48px;
  background: #fff;

  p {
    text-align: right;
    color: #999;
  }

  a { color: #999; }
}

.navbar_dropdown,
.graph_dropdown { display: none; }

.static_content { padding: 40px; }

.graph-sep {
  float: left;
  border: 0;
  height: 1px;
  width: 160px;
  background: rgba(#000, .1);
}
