//= require_self
//= require jquery.qtip
//= require dropdowns
//= require slider
//= require graphs

@import "compass";
@import "compass/reset";
@import "compass/css3";


.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


.wrapper {
  overflow: hidden;
  min-width: 1040px;
  background: #F4F4F4;

  &.stuck {
    .header,
    .scroll-nav {
      position: fixed;
      margin-top: -570px;
    }

    .scroll {
      bottom: 0;

      .nav-link { display: none; }
      .nav-title { display: block; }
    }

    .scroll-shadow { display: block; }
  }
}

.inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: absolute;
  z-index: 500; /* for dropdowns */
  width: 100%;
  min-width: 1040px;
  height: 660px;
  color: #fff;

  .title {
    margin-top: 75px;
    font: 300 44px/.9 "chaparral-pro", sans-serif;
    text-transform: capitalize;
  }

  .tagline {
    margin: 0 0 30px -5px;
    font: 700 italic 66px/1.1 "open-sans", sans-serif;
    text-transform: uppercase;

    &:before { content: "“";};
    &:after { content: "„";};
  }

  .description {
    padding-bottom: 50px;
    font: 300 29px/1.1 "chaparral-pro", serif;
  }
}

.header-nav {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(#fff, .5);
  background: rgba(#000, .25);

  .logo { float: left; }

  ul {
    float: right;

    a {
      padding: 0 40px;
      border-left: 1px solid rgba(#fff, .5);

      &:hover,
      &.selected { background: rgba(#000, .4); }

      &.last { border-right: 1px solid rgba(#fff, .5); }
    }
  }
}

.item { float: left; }

.nav-item {
  @extend .item;
  font: 600 12px/90px "open-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

  .nav-title {
    display: none;
    font-size: 30px;
  }

  a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;

    &.nav-link { padding: 0; }
  }
}

.navbar {
  position: absolute;
  top: 660px;
  width: 100%;
  height: 60px;
  background: #222;
  color: rgba(#fff, .3);

  ul {
    float: left;

    &.last {
      float: right;
      margin-right: -39px;
    }
  }
}

.menu-item {
  @extend .nav-item;
  line-height: 60px;

  &.first { padding: 0 15px 0 0; }

  .selected {
    margin-top: -4px;
    line-height: 64px;
    background: #fff;
    color: #222;
  }
}

.scroll-shadow {
  position: relative;
  display: none;
  bottom: -60px;
  margin: 0 auto;
  width: 1038px;
  height: 10px;
  background: image-url('scroll-shadow.png') repeat-x;
}

.content {
  margin: 0 auto;
  width: 1038px;
  padding-top: 720px;
  border: 1px solid rgba(#000, .1);
  border-top: 0;
  background: #fff;
  @include box-shadow(0 0 10px rgba(#000, .1));

  .description {
    font: 16px "open-sans", sans-serif;
    color: #666;
  }
}

.subject,
.slide { padding: 40px; }

.subject {
  .title {
    font: 55px/1.1 "chaparral-pro", serif;

    sup {
      display: block;
      font: 600 12px "open-sans", sans-serif;
      text-transform: uppercase;
      color: #BABABA;
    }
  }
}

.nav-link { @include opacity(.5); }

.scroll {
  position: absolute;
  bottom: 0;
  width: 960px;

  &:hover .nav-link { @include opacity(1); }

  em {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 18px;
    height: 20px;
    padding-right: 10px;
    vertical-align: 1;
    background: image-url('scroll-icon.png') no-repeat;
  }
}

.content-footer {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.scroll-controls {
  display: block;
  padding: 40px 20px;
  height: 71px;
  @include opacity(.2);

  &:hover { @include opacity(.4); }
  &:active { @include opacity(.8); }

  i {
    display: inline-block;
    height: 71px;
    width: 71px;
    background: image-url('scroll-sprite.png') no-repeat;
  }

  span { display: none; }
}

.scroll-nav {
  width: 960px;

  .scroll-controls { padding: 0 20px; }
}

.scroll-prev {
  float: left;
  margin-left: -150px;

  i { background-position: 0 -71px; }
}

.scroll-next {
  float: right;
  margin-right: -150px;

  i { background-position: 0 -142px; }
}

.footer {
  font: 14px "cronos-pro", sans-serif;
  min-width: 1040px;

  .footer-inner {
    padding: 25px 0;

    .item {
      margin-left: 15px;

      a {
        text-decoration: none;
        color: #F26F4D;

        &:hover { text-decoration: underline; }
      }
    }
  }

  .logo {
    float: left;
    font: 600 13px "open-sans", sans-serif;
    color: rgba(#878787, .6);
  }

  ul { float: right; }
}

.footer-bottom {
  border-top: 1px solid rgba(#000, .1);
  line-height: 48px;
  background: #fff;

  p {
    text-align: right;
    color: #999;
  }

  a { color: #999; }
}

.navbar_dropdown,
.graph_dropdown { display: none; }
