//= require application

@import 'compass/css3';

.header {
  background-color: #F8DF8D;
  background-image:
    image-url('pattern.png'),
    image-url('china-bg.png');
  @include background-size(50px, cover);
}
