.header-nav ul,
.tagline,
.content,
.navbar,
.footer > .inner {
  display: none;
}

.title_old {
  display: block;
  margin-bottom: 30px;
}

.header {
  background: image-url('header_old.png');

  .description { display: none; }

  .description_old {
    display: block;
  }

  ul { margin: 20px; }
}

.header-nav {
  background: image-url('header_nav_old.png');
  border-bottom: 1px solid #DF947E;
}